<div class="events m-2 p-2 ">
  <div class="header-container">
    <div>

      <h2>{{"Recommended Events" | localize}}</h2>
    </div>
    <div style="display: flex;flex-direction: row;gap: 20px;">
      <!--search component-->
      <div class="search-container">
        <app-search [data]="events" (searchResults)="handleSearchResults($event)"></app-search>
      </div>
      <div class="btn-group dropstart">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Category
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let key of enumeratorKeys">
            <a class="dropdown-item" (click)="fetchEventsByCategory(key)">{{key}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="card-container">
    <div id="loading" *ngIf="isLoading" class="text-center">
      <img src="../../../assets/img/Spin@1x-1.0s-200px-200px.gif" alt="" class="p-5 m-5">
    </div>

    <div *ngFor="let event of filteredEvents" class="card"
      [ngStyle]="{'background-image': 'url(' + (event.eventImg ? event.eventImg : '../../assets/img/Event.jpg') + ')'}">
      <div class="date">
        <div class="day">{{ event.startDate | date:'dd' }}</div>
        <div class="month">{{ event.startDate | date:'MMM' }}</div>
      </div>
      <div class="card-content">
        <h3>{{ event.name }}</h3>
        <p>{{ event.location }}</p>
        <div class="d-flex align-items-center justify-content-center">
          <button class="btn btn-yellow" (click)="handleButtonClick(event)"  [disabled]="isButtonDisabledMap[event.id]">   
            {{ event.type === eventType.Paid ? 'Get Ticket' : 'Ask for Invitation' | localize }}
        
          </button>

          <button id="details" (click)="details(event)">{{"View"|localize}}</button>
        </div>
      </div>
      <div class="Chat-icon" (click)="navigateToComponent(event.userId)" *ngIf="isLoggedIn">
        <i class="fa-regular fa-comment-dots"></i>
      </div>
    </div>
  </div>

  <div class="card-container text-center">
   
    <div>

    </div>
    <!-- <div *ngFor="let event of allPublicEvents" class="card"
      [ngStyle]="{'background-image':'url(' + (event.eventImg ? event.eventImg : '../../assets/img/Event.jpg') + ')'}">
      <div class="date">
        <div class="day">{{ event.startDate | date:'dd' }}</div>
        <div class="month">{{ event.startDate | date:'MMM' }}</div>
      </div>
      <div class="card-content">
        <h3>{{ event.name }}</h3>
        <p>{{ event.location }}</p>
        <div class="d-flex align-items-center justify-content-center">
          <button class="btn btn-yellow" (click)="handleButtonClick(event)"  [disabled]="isButtonDisabledMap[event.id]">   
            {{ event.type === eventType.Paid ? 'Get Ticket' : 'Ask for Invitation' | localize }}
        
          </button>

          <button id="details" (click)="details(event)">{{"View"|localize}}</button>
        </div>
      </div>
      <div class="Chat-icon" (click)="navigateToComponent(event.userId)" *ngIf="isLoggedIn">
        <i class="fa-regular fa-comment-dots"></i>
      </div>
    </div> -->
  </div>
  <div *ngIf="filteredEvents.length == 0 && allPublicEvents.length==0" class="noPublic-events text-center">
    <img src="../../../assets/img/Waiting.gif" alt="">
    <h4>{{"There are no events at this time, check back another day" | localize}}... <span>&#x23F3;</span></h4>
  </div>
