
footer {
    background-color: #050794;
    color: white;
    font-family: Tahoma;
}

footer ul {
    list-style: none;
}

footer li {
    line-height: 200%;
    /* font-weight: 500; */
}

footer  a {
    text-decoration: none;
    color: white;
}

footer  a:hover {
    /* text-decoration: none; */
    color: #FBAF1B;
    font-weight: bold;
}

.logo,
.contact,
.links {
    text-align: left;
}

@media all and (max-width:1000px) {

    .logo,
    .contact,
    .links,
    .info {
        text-align: center;
    }
}

footer .cpyright {
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    text-align: center;
}

footer .cpyright a {
    text-decoration: none;
    /* background-color: white; */
    padding: 10px;
    font-size: 1rem;
    color: inherit;
    line-height: 1;
    justify-content: center;
    align-items: center;
}

footer .cpyright p {
    color: var(--lightGray);
}
.footer-img img{
    width: 150px;
}
.contact li{
    font-size: 16px;
}
.contact li:hover{
    color: blue;
    text-decoration: underline;
}
.follow a{
    background-color: white;
    color: black;
    border-radius: 50%;
    font-size: 15px;
}
.follow a:hover{
    background-color: #FBAF1B;
    color: white;
    border-radius: 50%;
}
.info button{
    font-size: 17px;
    background-color: #FBAF1B;
    color: white;
    border: 1px solid #FBAF1B;
}
.info button:hover{
    background-color: rgba(255, 247, 0, 0);
    color: #FBAF1B;
}