<footer class="">
    <div class="container-fluid">
        <div class="row p-5">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 logo text-center">
                <h3 class="pe-2 pb-3" style="color:#FBAF1B; font-weight: 700;">
                    Eventa
                </h3>
                <p class="p-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis odit quae molestiae necessitatibus quibusdam.
                </p>
                <div class="m-2">
                    <button class="btn rounded-start-5 rounded-end-5 col-10" routerLink="/app/user-event">Get Started</button>
                </div>
            </div> <!-- end of logo -->
            
            <div class="col-xl-8 col-lg-6 col-md-6 col-sm-12 col-12 contact">
                <div class="row ">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 my-xl-0 my-lg-1 my-md-1 my-sm-3 my-3  text-center">
                        <h3 class="">{{"Contact  us" |localize}}</h3>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                    <ul class="d-flex  align-content-center align-self-center justify-content-evenly">
                        <li class="me-xl-4 me-lg-2 me-md-2 me-4 p-2"><i class="fa-regular fa-envelope me-1"></i> eventa%yahoo.com</li>
                        <li class="mx-xl-4 mx-lg-2 mx-md-2 mx-4 p-2"><i class="fa-solid fa-phone-volume me-1"></i> +201234567890</li>
                    </ul>
                </div>
                </div>
                <div class="row follow d-flex justify-content-evenly">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 my-xl-0 my-lg-1 my-md-1 my-sm-3 my-3  text-center">
                        <h3>{{"Follow us" |localize}}</h3>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 align-content-center align-self-center justify-content-evenly">
                        <a href="#facebook" class="m-xl-4 m-lg-2 m-md-2 m-4 p-2"><i class="fa-brands fa-facebook-f m-1" ></i></a>
                        <a href="#twitter" class="m-xl-4 m-lg-2 m-md-2 m-4 p-2"><i class="fa-brands fa-twitter m-1"></i></a>
                        <a href="#instagram" class="m-xl-4 m-lg-2 m-md-2 m-4 p-2"><i class="fa-brands fa-instagram m-1"></i></a>
                        <a href="#telegram" class="m-xl-4 m-lg-2 m-md-2 m-4 p-2"><i class="fa-regular fa-paper-plane m-1"></i></a>
                    </div>
                </div>
            </div>

        </div> <!-- end of row -->

            

        <div class="row cpyright p-2 d-flex">
            <div class="text-center">
                <strong>
                    Copyright &copy; {{ currentYear }}
                    <a href="javascript:;">Event_Planning_System</a>
                </strong>
            </div>
        </div> <!-- copyright -->
    </div>


</footer>
