<ul class="navbar-nav">
  <li class="nav-item">
    <h3 class="pe-2" style="color:#050793; font-weight: 700;">
      Eventa
    </h3>
    <!-- <a class="nav-link" href="javascript:;" (click)="toggleSidebar()">
      <i class="fas fa-bars"></i>
    </a> -->
  </li>
  <li class="nav-item d-none d-sm-inline-block">
    <a class="nav-link" [routerLink]="['home']">
      {{ "HomePage" | localize }}
    </a>
  </li>
  <li class="nav-item d-none d-sm-inline-block">
    <a class="nav-link" [routerLink]="['about']">
      {{ "About" | localize }}
    </a>
  </li>
  <li class="nav-item d-none d-sm-inline-block">
    <a class="nav-link" [routerLink]="['todolist/:id']">
      {{ "Todolist" | localize }}
    </a>
  </li>
  <li class="nav-item d-none d-sm-inline-block">
    <a class="nav-link" [routerLink]="['user-event']">
      {{ "Events" | localize }}
    </a>
  </li>
  <li class="nav-item d-none d-sm-inline-block">
    <a class="nav-link" [routerLink]="['Profile']">
      {{ "Profile" | localize }}
    </a>
  </li>
</ul>
