<ul class="navbar-nav">
  <li class="nav-item">
    <h3 class="pe-2" style="color:#050793; font-weight: 700;">
      Eventa
    </h3>
  </li>
  <ul class="d-flex align-items-center">
  <li class="nav-item  d-sm-inline-block">
    <a class="nav-link" [routerLink]="['/app/home']">
      {{ "Home" | localize }}
    </a>
  </li>
 <li class="nav-item  d-sm-inline-block" *ngIf="isLoggedIn && roleData.result.roleNames[0]=='SUPPLIER'">
    <a class="nav-link" [routerLink]="['/app/CreateEventPlace']">
      {{ "New Event Place" | localize }}
    </a>
  </li> 
  
  <li class="nav-item  d-sm-inline-block" *ngIf="isLoggedIn">
    <a class="nav-link " [routerLink]="['/app/event-places']">
     
        <span>{{ "Halls" | localize }}</span>
  
    </a>
  </li>
  <li class="nav-item  d-sm-inline-block" *ngIf="!isLoggedIn">
    <a class="nav-link animated-login login-swing" [routerLink]="['/account/login']">
      <div class="loader">
        <span>{{ "Login" | localize }}</span>
      </div>
    </a>
  </li>
  <li class="nav-item  d-sm-inline-block"  *ngIf="isLoggedIn && roleData.result.roleNames[0]=='ADMIN'">
    <a class="nav-link" [routerLink]="['/app/user-event']">
      {{ "My Events" | localize }}
    </a>
  </li>
  <li class="nav-item  d-sm-inline-block" *ngIf="isLoggedIn && roleData.result.roleNames[0]=='ADMIN'">
    <a class="nav-link" [routerLink]="['/app/invitation-state']">
      {{"Invitation State" | localize}}
    </a>
  </li>
  <li class="nav-item  d-sm-inline-block" *ngIf="isLoggedIn && roleData.result.roleNames[0]=='ADMIN'">
    <a class="nav-link" [routerLink]="['/app/Profile']">
      {{ "Profile" | localize }}
    </a>
  </li>
</ul>
</ul>
