<div class="card container p-3 tableDiv shadow-lg">
  <div class="btnDiv">
    <button class="btn" (click)="openModal(AddModal)"><i class="fa-solid fa-user-plus"></i> {{"Add Guest"|localize}}</button>
  </div>
  <div class="text-center imageDiv">
    <img src="../../../assets/img/guests.svg" alt="">
  </div>

  <div class="d-flex justify-content-between m-1">
    <div class="GuestCount text-center">
      <p class="pt-1">{{"No. Guests:" | localize}} <span class="acutal-GuestCount">{{guestCount}}</span></p>
    </div>
  </div>

  <div>
    <div class="table-responsive">
      <table id="guestTable" class="table table-hover table-borderless align-middle text-center">
        <thead class="table-light">
          <tr class="text-capitalize">
            <th>{{"ID" |localize}}</th>
            <th>{{"Name"|localize}}</th>
            <th>{{"Email"|localize}}</th>
            <th>{{"Invitation State"|localize}}</th>
            <th>{{"Phone"|localize}}</th>
            <th>{{"Send Invitation"|localize}}</th>
            <th>{{"Actions"|localize}}</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr class="" *ngFor="let item of guests">
            <td scope="row">{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.invitationState}}</td>
            <td>{{item.phone}}</td>
            <td class="sendInvitation">
              By:
              <a class="btn" (click)="SendSMS(item.phone)"><i class="fa-solid fa-comment-sms"></i> SMS</a> |
              <a class="btn" (click)="SendEmail(item.email)"><i class="fa-solid fa-envelope"></i> Email</a>

            </td>
            <td class="d-flex justify-content-evenly">
              <!-- <a class="btn" routerLink="edit/{{item.id}}" (click)="openEditModal(Editetemplate)"><i class="fa-solid fa-pen-to-square text-success"></i></a> -->
              <a class="btn" (click)="openEditModal(Editetemplate,item.id)"><i
                  class="fa-solid fa-pen-to-square text-success"></i></a>
              <a class="btn" (click)="Delete(item.id)"><i class="fa-solid fa-trash-can text-danger"
                  aria-hidden="true"></i></a>

            </td>
          </tr>
        </tbody>
      </table>
    </div> <!-- table-responsive div -->
  </div> <!-- div for table -->
</div>
<router-outlet></router-outlet>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title" style="color: #1D2027;">{{"Add New Guest" |localize}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="guestForm" (ngSubmit)="Save()">
      <div>
        <label for="nameInput">{{"Name" | localize}}</label>
        <input class="form-control" type="text" id="nameInput" formControlName="name" [(ngModel)]="guest.name" />
        <div *ngIf="guestForm.get('name').invalid && guestForm.get('name').touched" class="text-danger">
          <div *ngIf="guestForm.get('name').errors.required">{{"Name is required."|localize}}</div>
          <div *ngIf="guestForm.get('name').errors.maxlength">Name cannot be longer than 100 characters.</div>
        </div>
      </div>
      <div>
        <label for="phoneInput">{{"Phone"|localize}}</label>
        <input class="form-control" type="text" id="phoneInput" formControlName="phone" [(ngModel)]="guest.phone"
          required />
        <div *ngIf="guestForm.get('phone').invalid && guestForm.get('phone').touched" class="text-danger">
          <div *ngIf="guestForm.get('phone').errors.required">Phone is required.</div>
          <div *ngIf="guestForm.get('phone').errors.pattern">{{"Phone must be a 10-digit number" |localize}}</div>
        </div>
      </div>
      <div>
        <label for="emailInput">{{"Email"|localize}}</label>
        <input class="form-control" type="email" id="emailInput" formControlName="email" [(ngModel)]="guest.email"
          required />
        <div *ngIf="guestForm.get('email').invalid && guestForm.get('email').touched" class="text-danger">
          <div *ngIf="guestForm.get('email').errors.required">Email is required.</div>
          <div *ngIf="guestForm.get('email').errors.email">Invalid email address.</div>
        </div>
      </div>
      <input class="btn btn-success m-2" value="Add" type="submit" />
    </form>
  </div>
</ng-template>

<ng-template #Editetemplate>
  <div class="modal-header">
    <h4 class="modal-title" style="color: #1D2027;">Update Guest</h4>
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="guestForm" (ngSubmit)="Edit()">
      <div>
        <label for="nameInput">Name:</label>
        <input formControlName="name" class="form-control" type="text" id="nameInput" name="nameInput"
          [(ngModel)]="guestEdit.name" required />
        <div *ngIf="guestForm.get('name').invalid && guestForm.get('name').touched" class="text-danger">
          <div *ngIf="guestForm.get('name').errors.required">Name is required.</div>
          <div *ngIf="guestForm.get('name').errors.maxlength">Name cannot be longer than 100 characters.</div>
        </div>
      </div>
      <div>
        <label for="phoneInput">Phone:</label>
        <input formControlName="phone" class="form-control" type="text" id="phoneInput" name="phoneInput"
          [(ngModel)]="guestEdit.phone" required />
        <div *ngIf="guestForm.get('phone').invalid && guestForm.get('phone').touched" class="text-danger">
          <div *ngIf="guestForm.get('phone').errors.required">Phone is required.</div>
          <div *ngIf="guestForm.get('phone').errors.pattern">Phone must be a 10-digit number.</div>
        </div>
      </div>
      <div>
        <label for="emailInput">Email:</label>
        <input formControlName="email" class="form-control" type="email" id="emailInput" name="emailInput"
          [(ngModel)]="guestEdit.email" required />
        <div *ngIf="guestForm.get('email').invalid && guestForm.get('email').touched" class="text-danger">
          <div *ngIf="guestForm.get('email').errors.required">Email is required.</div>
          <div *ngIf="guestForm.get('email').errors.email">Invalid email address.</div>
        </div>
      </div>
      <input class="btn btn-success m-2" value="Update" type="submit" />
    </form>
  </div>
</ng-template>

<ng-template #AddModal>
  <div class="modal-header">
    <h4 class="modal-title" style="color: #1D2027;">{{"Add New Guest" |localize}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body add-btns">
    <div class=" m-2">
      Add One by one: 
      <button class="btn btn-secondary" (click)="openModal(template)" [disabled]="guestCount >= maxCountOfGuest"><i class="fa-solid fa-user-plus"></i> </button>
    </div>
    <div class=" m-2">
      Add from excel:
      <!-- <button class="btn btn-success" (click)="openModal(template)" [disabled]="guestCount >= maxCountOfGuest"><i class="fa-solid fa-file-excel"></i></button> -->
      <label for="file-upload" class="custom-file-upload">
        <i class="fas fa-file-excel"></i>
        <span *ngIf="fileToUpload">{{ fileToUpload.name }}</span>
        <span *ngIf="!fileToUpload">{{ "" | localize }}</span>
    </label>
  
    <input id="file-upload" type="file" accept=".xls,.xlsx" (change)="handleFileInput($event)"
        class="file-input" />
    <button class="choose-file-btn" (click)="promptFileSelection()">
        {{ "Choose Excel File" | localize }}
    </button>
    <button class="upload-btn" (click)="uploadFile()">
        {{ "Upload" | localize }}
    </button>
    </div>
  </div>
</ng-template>


