<div class="container tableDiv">

    <div class="table-responsive text-center ">
        <table id="guestTable" class="table table-hover table-striped table-borderless align-middle display">
        <thead class="table-light">
          
            <tr class="text-capitalize">
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Invitation State</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr class="table-secondary" *ngFor="let item of guests">
                <td scope="row">{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.invitationState}}</td>
                <td>{{item.phone}}</td>
                <td class="d-flex justify-content-evenly">
                    <!-- <a class="btn" routerLink="showMore/{{item.id}}"><i class="fa-solid fa-eye text-secondary"></i></a> -->
                    <a class="btn" routerLink="edit/{{item.id}}"><i class="fa-solid fa-pen-to-square text-success"></i></a>
                    <a onclick="return confirm('Are you sure you want to delete this guest?')" class="btn" routerLink="delete/{{item.id}}"><i class="fa-solid fa-trash-can text-danger" aria-hidden="true"></i></a>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>
<router-outlet></router-outlet>
