<div class="container ">
    <div class="alert alert-success" *ngIf="successMessage | async as success">
        {{ "success" |localize}}
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage | async as error">
        {{ "error" |localize}}
      </div>
    <form [formGroup]="newPasswordForm" class="row" (ngSubmit)="onSubmit()">
        <label>{{"New Password"|localize}}</label>
        <input type="text" class="form-control " formControlName="NewPassword" />
        <br>
        <label>{{"Confirm Password" |localize}}</label>
        <input type="password" class="form-control " formControlName="ConfirmPassword" />
        <br>
        <button type="submit" class="btn btn-info">{{"Save"|localize}}</button>
    </form>
</div>