<div class="container">
  <div class="left-side">
    <div class="alert alert-success" *ngIf="successMessage | async as success">
      {{ "success" | localize }}
    </div>
    <div class="alert alert-danger" *ngIf="errorMessage | async as error">
      {{ "error" | localize }}
    </div>
    <form [formGroup]="newPasswordForm" class="row" (ngSubmit)="onSubmit()">
      <label class="reset-title">{{ "New Password" | localize }}</label>
      <input
        type="password"
        class="form-control input-group"
        formControlName="NewPassword"
      />
      <div
        *ngIf="
          newPasswordForm.controls['NewPassword'].invalid &&
          (newPasswordForm.controls['NewPassword'].dirty ||
            newPasswordForm.controls['NewPassword'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="newPasswordForm.controls['NewPassword'].errors.required">
          Password is required.
        </div>
        <div *ngIf="newPasswordForm.controls['NewPassword'].errors.pattern">
          Password must be at least 8 characters long, contain at least one
          lowercase letter, one uppercase letter, one number, and one special
          character.
        </div>
      </div>
      <br />
      <label class="reset-title">{{ "Confirm Password" | localize }}</label>
      <input
        type="password"
        class="form-control input-group"
        formControlName="ConfirmPassword"
        />
        <span class="fas fa-lock"></span>
      <div
        *ngIf="
          newPasswordForm.controls['ConfirmPassword'].invalid &&
          (newPasswordForm.controls['ConfirmPassword'].dirty ||
            newPasswordForm.controls['ConfirmPassword'].touched)
        "
        class="alert alert-danger"
      >
        <div
          *ngIf="newPasswordForm.controls['ConfirmPassword'].errors.required"
        >
          Confirm Password is required.
        </div>
        <div
          *ngIf="newPasswordForm.controls['ConfirmPassword'].errors.mustMatch"
        >
          Passwords do not match.
        </div>
      </div>
      <br />
      <button
        type="submit"
        class="btn_save"
        [disabled]="newPasswordForm.invalid"
      >
        {{ "Save" | localize }}
      </button>
    </form>
  </div>
  <div class="right-side">
    <div class="image-container">
      <img src="assets/img/Resetpassword.gif" alt="reset-password" />
    </div>
  </div>
</div>
