.err {
  color: red;
}

body {
  background-color: white !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 150px;
}
/* .flex-container{
  display: flex;;
} */
.card {
  border: none;
  border-radius: 1px 0 0 1rem;
}
.right-content {
  margin-left: 270px;
  width: 90%;
}
.user-card-full.minimized {
display: none;
}
.user-card-full {
  /* position: fixed; */
  position: absolute;
  left: 10px;
  width: 250px;
  /* height: 70vh; */
  background-color: white;
  z-index: 100;
}
.user-profile {
  border-top-right-radius: 1rem;

  background: linear-gradient(135deg, #2626bc 90%, #fbaf1b 30%);
  color: #fff;
  width: 100%;
  padding: 20px;
  padding-top: 90px;
}

.user-profile img {
  width: 120px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  margin-top: -60px;
}

.user-profile h5 {
  margin-top: 15px;
}

.card-body .row + .row {
  margin-top: 1rem;
}

.card-body p {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.card-body h6 {
  font-size: 1.1rem;
  font-weight: 600;
}

.btn-primary {
  background-color: #fbaf1b;
  border: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #feb47b;
}

.card-title {
  border-bottom: 2px solid #050694;
}
.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg, #ff5370, #ff869a);
}
/* .mainCard {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  width: 55vw;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
} */

.f-left {
  float: left;
}

.f-right {
  float: right;
}
.interests-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  width: 95%;
}
.interests-container {
  width: 90vw;

}
.container{
  margin-bottom:4vh;

}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2px;
  padding: 2px;
}
.grid-item {
  background-color: #b37a08;
  border: 1px solid rgba(247, 243, 243, 0.8);

  border-radius: 7px;
  font-size: 20px;
  padding: 7px;
  text-align: center;
}
.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg, #ff5370, #ff869a);
}
.mainCard {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  width: 95%;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
}

.card1 {
  width: 25vw;
  display: flex;
  /* background-color: #fbaf1b; */
  background-color: #2626bc05;
  border: 2px solid #050694;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card1:hover {
  background-color: #050694;

  color: white;
}
.card1:hover .btn-close{
  color: #fbaf1b;
}
.card1 .card-block {
  padding: 15px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

@media only screen and (max-width: 767px) {
  .user-card-full {
 
    position: static;
   
    width: 80%;
    margin:25px auto;
    /* height: 70vh; */
    background-color: white;
    z-index: 100;
  }
  .right-content {
    margin-left: 0px;
    width: 80%;
    margin:25px auto;
  }
}