<h1 class="m-3" style="color: #1D2027; font-size: 2.5rem; text-align: center;">Profile</h1>
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="card user-card-full shadow-lg">
          <div class="row no-gutters">
            <div class="col-md-4 user-profile text-center d-flex flex-column align-items-center justify-content-center">
              <img [src]="getUserImage()" alt="User-Profile-Image" class="img-fluid rounded-circle">
              <h5>{{ user?.userName  }}</h5>
              <p>Planner</p>
              <button class="btn btn-outline-light btn-sm mt-2" id="modalShow" (click)="openModal(modalTemplate)"><i
                  class="fas fa-edit"></i> Edit</button>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title mb-3" style="color: #050694;">Information</h5><br><br>
                <div class="row">
                  <div class="col-sm-6 mb-3">
                    <p class="font-weight-bold mb-1" style="margin-left: 0%;">Email</p>
                    <h6 class="text-muted">{{ user?.emailAddress }}</h6>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <p class="font-weight-bold mb-1">Age</p>
                    <h6 class="text-muted">{{ user?.age }}</h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 mb-3">
                    <p class="font-weight-bold mb-1">Gender</p>
                    <h6 class="text-muted">{{ user?.genderUser == '0' ? 'Female' : 'Male' }}</h6>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <p class="font-weight-bold mb-1">Name</p>
                    <h6 class="text-muted">{{ user?.name }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- "result": {
  "id": 4,
  "userName": "Eman_mo",
  "name": "Eman",
  "emailAddress": "eman@gmail.com",
  "age": 21,
  "genderUser": 1,
  "imageName": "user.jpg"
}, -->


<ng-template #modalTemplate >
  <div class="modal-header">
    <h4 class="modal-title" style="color: #1D2027;">Edit My Profile</h4>
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #createForm="ngForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label for="userName">User Name:</label>
        <input type="text" class="form-control" id="userName" name="userName" [(ngModel)]="user.userName" required minlength="3"
          maxlength="50" pattern="^[a-zA-Z0-9]+(?:[_-][a-zA-Z0-9]+)*$">
        <div
          *ngIf="createForm.controls['userName'].invalid && (createForm.controls['userName'].dirty || createForm.controls['userName'].touched)">
          <div *ngIf="createForm.controls['userName'].errors.required" class="err">User Name is required.</div>
          <div *ngIf="createForm.controls['userName'].errors.minlength" class="err">User Name must be at least 3 characters long.
          </div>
          <div *ngIf="createForm.controls['userName'].errors.maxlength" class="err">User Name must not exceed 50 characters.
          </div>
          <div *ngIf="createForm.controls['userName'].errors.pattern" class="err">Invalid username format.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.emailAddress" required email>
        <div *ngIf="createForm.controls['email'].invalid && (createForm.controls['email'].dirty || createForm.controls['email'].touched)">
          <div *ngIf="createForm.controls['email'].errors.required" class="err">Email is required.</div>
          <div *ngIf="createForm.controls['email'].errors.email" class="err">Invalid email format.</div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" class="form-control" id="age" min="16" max="70" name="age" [(ngModel)]="user.age" required>
        <div
          *ngIf="createForm.controls['age'].invalid && (createForm.controls['age'].dirty || createForm.controls['age'].touched)">
          <div *ngIf="createForm.controls['age'].errors.required" class="err">Age is required.</div>
          <div *ngIf="createForm.controls['age'].errors.min" class="err">Age must be at least 16.</div>
          <div *ngIf="createForm.controls['age'].errors.max" class="err">Age must not exceed 70.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Gender">Gender:</label>
        <select [(ngModel)]="user.genderUser" required name="Gender" class="form-control">
          <option value="1">Male</option>
          <option value="0">Female</option>
        </select>
        <div
          *ngIf="createForm.controls['Gender'].invalid && (createForm.controls['Gender'].dirty || createForm.controls['Gender'].touched)">
          <div *ngIf="createForm.controls['Gender'].errors.required" class="err">Gender is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="imageName">Image:</label>
        <input type="text" class="form-control" id="imageName" name="imageName" [(ngModel)]="user.image" readonly>
      </div>
      <button type="submit" [disabled]="createForm.invalid"  class="btn btn-primary">Submit</button>
    </form>
  </div>
</ng-template>