<!-- profile.component.html -->
<!-- <h1 class="m-3" style="color: #1D2027; font-size: 2.5rem; text-align: center;">Profile</h1> -->
<div class="page-content page-container" id="page-content">
  <div class="padding">
    <div class="row container d-flex justify-content-center">
      <div class="flex-container">
        <!-- <i class="fa-solid fa-arrow-left  btn btn-primary" (click)="toggleProfile()"></i> -->
        <div class="card user-card-full shadow-lg" [class.minimized]="isMinimized">
          <div class="no-gutters">
            <div
              class=" user-profile text-center d-flex flex-column align-items-center justify-content-center" >
       
              <img
                [src]="getUserImage()"
                alt="User-Profile-Image"
                class="img-fluid rounded-circle"
              />
              <h5>{{ user?.userName }}</h5>
              <!-- <p>{{roleData.result.roleNames[0] |localize}}</p> -->
              <button
                class="btn btn-outline-light btn-sm mt-2"
                id="modalShow"
                (click)="openModal(modalTemplate)"
              >
                <i class="fas fa-edit"></i>{{" Edit" |localize}}
              </button>
            </div>
            <div >
              <div class="card-body">
                <!-- <h5
                  class="card-title mb-3"
                  style="color: #050694; font-size: 25px"
                >
                  Information
                </h5>
                <br /><br /> -->
                <div class="row">
                  <div style="margin-left: 0%">
                    <p class="font-weight-bold mb-1">{{"Email"| localize}}</p>
                    <h6 class="text-muted">{{ user?.emailAddress }}</h6>
                  </div>
                  <div >
                    <p class="font-weight-bold mb-1">{{"Gender"| localize}}</p>
                    <h6 class="text-muted">
                      {{ user?.genderUser == "0" ? "Female" : "Male" }}
                    </h6>
                  </div>
                </div>
                <div class="row">
                  <div *ngIf="user?.age !== 0" >
                    <p class="font-weight-bold mb-1">{{"Age" | localize}}</p>
                    <h6 class="text-muted">{{ user?.age  }}</h6>
                  </div>
           
                  <!-- <div >
                    <p class="font-weight-bold mb-1">Name</p>
                    <h6 class="text-muted">{{ user?.name }}</h6>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
     <!-- end profile -->

     <!-- all right content -->
<div class="right-content" *ngIf="roleData.result.roleNames[0]==='ADMIN'">
        <!-- Interests Section -->
        <div class="interests-header">
          <h4 style="border-left: 3px solid rgb(66, 66, 215);padding-left: 10px; color: #050694">
           {{"My Interests" | localize}}
          </h4>
          <button
            class="btn btn-outline-dark ml-3"
            (click)="openModal2(AddInterests)"
          >
            <i class="fas fa-plus"></i> {{"Add Interest" |localize}}
          </button>
        </div>

        <div class="bg-white p-2 mainCard" style="margin-bottom: 30px">
          <div class="interests-container">
            <h4
              *ngIf="AllInterests.result.length === 0"
              class="text-center"
              style="color: #1d2027; margin: auto; margin-top: 25%"
            >
              {{"Please choose some interests! 🍒" | localize}}
            </h4>
            <div class="card1" *ngFor="let interest of AllInterests.result">
              <h6>{{ getStatusLabel(interest.type) }}</h6>
              <button
                class="btn btn-close"
                (click)="deleteItem(interest.id)"
              ></button>
            </div>
          </div>

          <img src="../../../assets/img/eventsPic.svg" width="50%" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- upcoming -->
<!-- <app-upcoming-events></app-upcoming-events> -->
<!--History-->
<!-- <app-historyevent></app-historyevent> -->

</div>
<!-- end right content -->
<ng-template #modalTemplate>
  <div class="modal-header">
    <h4 class="modal-title" style="color: #1d2027">{{"Edit My Profile" |localize}}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #createForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="userName">{{"User Name:"|localize}}</label>

        <input
          type="text"
          class="form-control"
          id="userName"
          name="userName"
          [(ngModel)]="user.userName"
          required
          minlength="3"
          maxlength="50"
          pattern="^[a-zA-Z0-9]+(?:[_-][a-zA-Z0-9]+)*$"
        />
        <div
          *ngIf="
            createForm.controls['userName'].invalid &&
            (createForm.controls['userName'].dirty ||
              createForm.controls['userName'].touched)
          "
        >
          <div
            *ngIf="createForm?.controls['userName']?.errors?.required"
            class="err"
          >
            {{"User Name is required." |localize}}
          </div>
          <div
            *ngIf="createForm?.controls['userName']?.errors?.minlength"
            class="err"
          >
            {{"User Name must be at least 3 characters long." |localize}}
          </div>
          <div
            *ngIf="createForm?.controls['userName']?.errors?.maxlength"
            class="err"
          >
           {{" User Name must not exceed 50 characters." |localize}}
          </div>

          <div
            *ngIf="createForm?.controls['userName']?.errors?.pattern"
            class="err"
          >
            {{"Invalid username format." |localize}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">{{"Email:"|localize}}</label>

        <input
          type="email"
          class="form-control"
          id="email"
          name="emailAddress"
          [(ngModel)]="user.emailAddress"
          required
        />
        <div
          *ngIf="
            createForm?.controls['emailAddress']?.invalid &&
            (createForm?.controls['email']?.dirty ||
              createForm?.controls['email']?.touched)
          "
        >
          <div
            *ngIf="createForm?.controls['emailAddress']?.errors?.required"
            class="err"
          >
           {{ "Email is required." |localize}}
          </div>
          <div
            *ngIf="createForm?.controls['emailAddress']?.errors?.email"
            class="err"
          >
           {{" Invalid email format." |localize}}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="age">{{"Age:" |localize}}</label>
        <input
          type="number"
          class="form-control"
          id="age"
          min="16"
          max="70"
          name="age"
          [(ngModel)]="user.age"
          required
        />
        <div
          *ngIf="
            createForm?.controls['age']?.invalid &&
            (createForm?.controls['age'].dirty ||
              createForm?.controls['age']?.touched)
          "
        >
          <div
            *ngIf="createForm?.controls['age']?.errors?.required"
            class="err"
          >
            {{"Age is required." |localize}}
          </div>
          <div *ngIf="createForm?.controls['age']?.errors?.min" class="err">
           {{" Age must be at least 16." |localize}}
          </div>
          <div *ngIf="createForm?.controls['age']?.errors?.max" class="err">
           {{" Age must not exceed 70." |localize}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="genderUser">{{"Gender:" |localize}}</label>
        <select
          [(ngModel)]="user.genderUser"
          required
          name="genderUser"
          class="form-control"
        >
          <option value="1">{{"Male" |localize}}</option>
          <option value="0">{{"Female" |localize}}</option>
        </select>
        <div
          *ngIf="
            createForm?.controls['genderUser']?.invalid &&
            (createForm?.controls['genderUser']?.dirty ||
              createForm?.controls['genderUser']?.touched)
          "
        >
          <div
            *ngIf="createForm?.controls['genderUser'].errors?.required"
            class="err"
          >
           {{" Gender is required." |localize}}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="imagePath1">{{"Image:" |localize}}</label>
        <input
          type="file"
          class="form-control"
          id="imagePath1"
          name="imagePath"
          (change)="onFileSelected($event)"
          required
        />
      </div>
      <button
        type="submit"
        [disabled]="createForm.invalid"
        class="btn btn-primary"
      >
        {{"Submit" |localize}}
      </button>
    </form>
  </div>
</ng-template>

<!--add intersts modal section-->
<ng-template #AddInterests>
  <div class="modal-header">
    <h4 class="modal-title" style="color: #1d2027">{{"Add Interests 💖" |localize}}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body grid-container">
    <div *ngFor="let interest of getFilteredInterests()">
      <button
        class="btn"
        style="
          display: grid;
          width: 150px;
          background-color: #3e3ec1;
          color: white;
          margin: 7px;
        "
        (click)="AddInterest(interest.id, interest)"
      >
        <i class="fa fa-plus"></i>{{ getStatusLabel(interest.type) }}
      </button>
    </div>
  </div>
</ng-template>
