<div class="header">
  <!--Content before waves-->
  <div class="inner-header">
    <h1>{{ "Welcome to Eventa Planning System" | localize }}</h1>
    <div class="content">
      <div class="image">
        <img src="assets/img/about.svg" alt="about" />
      </div>
      <div class="info">
        <p>{{ "Streamline your event planning process with our intuitive system. Create, manage, and track events effortlessly." | localize }}</p>
        <ul>
          <li>{{ "Create detailed event plans" | localize }}</li>
          <li>{{ "Manage tasks and deadlines" | localize }}</li>
          <li>{{ "Invite guests and track RSVPs" | localize }}</li>
          <li>{{ "Customize event details and settings" | localize }}</li>
          <li>{{ "Manage budgets and expenses" | localize }}</li>
        </ul>
        <button class="btn" [routerLink]="['../home']">{{ "Get Started" | localize }}</button>
      </div>
    </div>
  </div>

  <!--Waves Container-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <!--Waves end-->

 
 
</div>
