
<div id="nav" class="nav text-center d-flex flex-column align-items-center justify-content-center col-2">
		<div class="icon">
			<ul>
				<li><a title="Events" routerLink="/app/user-event"><i ><img src="../../../assets/img/banner.png" style="width: 40px; height: 40px;"></i></a></li>
				<li><a title="Upcomming Events" routerLink="/app/upcomming-events"><i><img src="../../../assets/img/upcoming_1.png" style="width: 40px; height: 40px;"></i></a></li>
				<li><a title="" routerLink="/app/historyevent"><i><img src="../../../assets/img/past_1.png" style="width: 40px; height: 40px;"></i></a></li>

			</ul>
		</div>
		<div class="text">
			<ul>
				<li><a routerLink="/app/user-event">Events</a></li>
				<li><a  routerLink="/app/upcomming-events">Upcomming_Events</a></li>
	            <li><a routerLink="/app/historyevent" >Event History</a></li>
			</ul>
		</div>
		
	</div>
    