<div id="nav" class="nav text-center d-flex flex-column align-items-center justify-content-center col-2 siderbar">
        <div class="icon">
                <ul>
                        <li><a title="Events" routerLink="/app/user-event"><i class="fa-solid fa-house-user"></i></a>
                        </li>
                        <li><a title="Upcomming Events" routerLink="/app/upcomming-events"><i
                                                class="fa-regular fa-calendar"></i></a></li>
                        <li><a title="" routerLink="/app/historyevent"><i class="fa-solid fa-clock-rotate-left"></i></a>
                        </li>
                        <li><a title="savedevents" routerLink="/app/savedevents"><i
                                                class="fa-regular fa-bookmark"></i></a></li>
                        <li><a title="Reports" routerLink="/app/report"><i class="fa-solid fa-clipboard-list"></i></a>
                        </li>



                </ul>
        </div>
        <div class="text">
                <ul>
                        <li><a routerLink="/app/user-event">{{"Created Events" |localize}}</a></li>
                        <li><a routerLink="/app/upcomming-events">{{"Upcomming Events" |localize}}</a></li>
                        <li><a routerLink="/app/historyevent">{{"Event History"|localize}}</a></li>
                        <li><a routerLink="/app/savedevents">{{"Saved Events" | localize}}</a></li>
                        <li><a routerLink="/app/report">{{"Reports"| localize}}</a></li>

                </ul>
        </div>

</div>
