body {
    background-color: white;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(219, 198, 198, 0.2);
    width: 90%;
    max-width: 450px;
    text-align: center;
    margin-top: 40px;
}
h2 {
    margin-bottom: 30px;
    color: black;
}
.btn {
    display: inline-block;
    background-color: #303030;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    width: 115px;
}
.btn:hover {
    background-color: #575757;
}
.btn:active {
    background-color: #e4e4e4;
}
.btn-selected{
    background-color: #fbaf1b;
    color: black;
}
.btn-info {
    background-color: #050794;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    width: 100%;
}
.btn-info:hover {
    background-color: #5158e3 ;
}
.btn-info:active {
    background-color: #050794;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}