<div class="mr-2">
        <div class="badge badge-danger ml-2" style="border-radius: 50%">{{AllCount}}</div>
        <div class="dropdown">
                <i class="fa-regular fa-bell " style="cursor: pointer; font-size: 24px"
                        (click)="toggleCollapse($event)"></i>
                <div class="dropdown-menu custom-dropdown-menu p-3 " style="width: 200px"
                        [ngClass]="{ show: isCollapsed }" aria-labelledby="dropdownMenuButton">
                        <div class="dropdown-header">
                                <h3 style="color: blue">{{"Notifications" | localize}}✨ </h3>
                        </div>
                        <div class="content" #con>
                                <h6 class="alert alert-info mt-5 my-lg-5 text-center"
                                        *ngIf="AllCount==0 && Upcomming.result.length===0 ">  {{"You Don't Have Any Notifications Yet!" | localize}}</h6>
                                @for (item of AllNotifications; track $index) {
                                <div style="display: flex; flex-direction: row; margin-bottom: 10px;"
                                        *ngIf="item.status==0">
                                        <div>
                                                <img src="../../../assets/img/askForAttending.svg"
                                                        style="width: 60px; height: auto; margin-right: 10px;" />
                                        </div>
                                        <div style="margin-top: 5px;">
                                                <b>
                                                       
                                                        {{ item.content }}   {{"from" | localize}} {{ getGuestData(item.guestId) }}
                                                      <i class="text-uppercase">
                                                        {{ guestData.result.fullName }}
                                                      </i>  </b><br>
                                                        <div style="display: flex; flex-direction: row;font-size: 14px;"> 📧 {{ guestData.result.emailAddress }}</div>
                                                        
                                               
                                                <p class="small-text">
                                                        📅 {{ item.date.split("T")[0] }}
                                                </p>

                                                <div style="display: flex; flex-direction: row; justify-content: end;">
                                                        <button class="btn btn-dark"
                                                                (click)="Accept(item)">  {{"Accept" | localize}}</button>
                                                        <button class="btn btn-danger ml-4"
                                                                (click)="Reject(item)">  {{"Reject" | localize}}</button>
                                                </div>
                                        </div>

                                </div>
                                }
                                <br>
                                <!--upcomming-->
                                @for (item of Upcomming.result; track $index) {
                                <div style="display: flex; flex-direction: row; margin-bottom: 10px;">
                                        <div>
                                                <img src="../../../assets/img/CommingEventsImg.svg"
                                                        style="width: 60px; height: auto; margin-right: 10px;" />
                                        </div>
                                        <div style="margin-top: 5px;">
                                                <p style="font-weight: bold; margin: 0;" #text
                                                        [ngStyle]="{'font-weight':item.isRead==true? 'normal' :'bold'}">
                                                        {{"🎉 Don't forget about" | localize}}
                                                        {{item.name}} 🎉</p>
                                                <p style="font-size: 14px; margin: 0;">📅
                                                        {{item.startDate.split("T")[0]}}</p>
                                                <p style="font-size: 14px; margin: 0;">🕒
                                                        {{item.startDate.split("T")[1]}}</p>
                                                <div
                                                        style="display: flex; flex-direction: row;justify-content: space-between;">
                                                        <p style="font-size: 14px; margin: 0;">📍 {{item.location}}</p>
                                                        <button (click)="changeFontWeight(item)"
                                                                [ngStyle]="{'color':item.isRead==true? 'gray':'black','text-align':'center'}"
                                                                [disabled]="item.isRead==true" class="btn btn-warning">
                                                                {{"seen" | localize}}</button>
                                                </div>
                                        </div>
                                </div>
                                }
                                <!--review-->
                                @for(item of ReminderNotificationsList.result; track $index){
                                        <div>
                                                <div style="display: flex; flex-direction: row;">
                                                        <div >
                                                                <img src="../../../assets/img/review.svg"
                                                                        style="width: 60px; height: auto; margin-right: 10px;" />
                                                        </div>
                                                        <div style="margin-top: 5px;">
                                                                <p style="font-weight: bold; margin: 0;" #text>
                                                                        {{" Would you mind giving us your feedback about" | localize}} <i style="font-family: 'Times New Roman', Times, serif;">{{(item.content).split(":")[1]}} Event!</i></p>
                                                        </div>
                                                </div>
                                                        <span style="margin-left: 50%;" >
                                                                <button class="btn btn-dark" (click)="GiveReview(item)">Sure!</button>
                                                                <button class="btn btn-danger m-lg-2">{{"Cancel" | localize}}</button>
                                                        </span>
                                        </div>
        
                                        }
                                     
                                        
                        </div>
                        <br>
                        <hr style="margin: 15px" />
                       
                </div>
        </div>
</div>