<div>
  <div class="container ">
    <div class="left-side">
      <div >
        <h1 class="text-center mb-3 " style="color: #FBaF1B;   font-family: 'MyCustomFont font-weight: bold; ';">EVENTA</h1>
        <br>
        <h2 class="mb-3" style="font-family: 'MyCustomFont'; font-weight: bold;">{{ "LogIn" | localize }}</h2>

        <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">


          <div >
            <div class="input-group">
              <input type="text" class="form-control" name="userNameOrEmailAddress"
                [(ngModel)]="authService.authenticateModel.userNameOrEmailAddress"
                [placeholder]="'UserNameOrEmail' | localize" required maxlength="256"
                #userNameOrEmailAddressModel="ngModel" #userNameOrEmailAddressEl />
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <abp-validation-summary [control]="userNameOrEmailAddressModel"
              [controlEl]="userNameOrEmailAddressEl"></abp-validation-summary>
          </div>

<br/>
          <div >
            <div class="input-group">
              <input type="password" class="form-control" name="password"
                [(ngModel)]="authService.authenticateModel.password" [placeholder]="'Password' | localize" required
                maxlength="32" #passwordModel="ngModel" #passwordEl [type]="passwordFieldType" />
              <div class="input-group-append">
                <div class="input-group-text" (click)="togglePasswordVisibility()">
                  <span class="fas"
                    [ngClass]="{'fa-lock': passwordFieldType === 'password', 'fa-unlock': passwordFieldType === 'text'}"></span>
                </div>
              </div>
            </div>
            <abp-validation-summary [control]="passwordModel" [controlEl]="passwordEl"></abp-validation-summary>
          </div>
          <a href="account/resetPassword">Forget Password</a>
          <br>

        <br>
          <div class="form-group row">
            <div class="col-md-8">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="rememberMe" name="rememberMe"
                  [(ngModel)]="authService.rememberMe" />
                <label for="rememberMe" class="custom-control-label" style="font-family: 'MyCustomFont';">
                  {{ "RememberMe" | localize }}
                </label>
              </div>
            </div>
          <br>

            <div class="col-md-4">
              <button type="submit" style="background-color: #FBaF1B; border-color: #FBaF1B; font-family: 'MyCustomFont';" class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid || submitting">
                {{ "LogIn" | localize }}
              </button>
            </div>
          </div>

        



        </form>


        <p  class="mb-1">
          <a [routerLink]="['../register']">
            <i class="fa fa-plus-circle"></i> {{ "Register" | localize }}
          </a>
        </p>


      </div>
    </div>

    <div class="right-side">
      <div class="image-container">
        <h2></h2>
        <p></p>
      </div>
    </div>
  </div>
</div>