<div *ngIf="notifications && notifications.length > 0">
  <h2>
    <img src="../../../assets/img/invitation (1).png" alt="icon" />
    Invitation I Asked
  </h2>
  <div *ngFor="let notification of notifications" [ngClass]="{'past-event': isPastEvent(notification.startDate)}" class="notification-item">
    <div class="notification-content">
      <div class="notification-date">
        <span class="date-month">{{ formatDate(notification.startDate, 'month') }}</span>
        <span class="date-day">{{ formatDate(notification.startDate, 'day') }}</span>
      </div>
      <div class="notification-text">Invitation Request For: {{ notification.eventName }}</div>
    </div>
    <div class="notification-status">
      Status: {{ getStatusString(notification.status) }}
    </div>
    <hr>
  </div>
</div>
<div *ngIf="notifications && notifications.length === 0">
  <p>No notifications found.</p>
</div>
<div *ngIf="!notifications">
  <p>Loading notifications...</p>
</div>
