<div class="events">
  <div class="header-container">
    <h2>{{"Events" | localize}}</h2>
    <a routerLink="/app/create-event" class="btn">{{"Create Event" | localize}}</a>
  </div>
  <div class="card-container">
    <div
    *ngFor="let event of events"
    class="card"
    [ngStyle]="{
      'background-image': 'url(' + (event.eventImg ? event.eventImg : '../../assets/img/Event.jpg') + ')'
    }"
  >
      <div class="header">
        <button id="delete" (click)="deleteEvent(event)" title="delete"> <i class="fas fa-trash"></i></button>
        <div class="date">
          <div class="day">{{ event.startDate | date: 'dd' }}</div>
          <div class="month">{{ event.startDate | date: 'MMM' }}</div>
        </div>
      </div>
      <div class="card-content">
        <h3>{{ event.name }}</h3>
        <p>{{ event.location }}</p>
        <button id="details" (click)="details(event)">{{"View"|localize}}</button>
        <button id="invite" (click)="guestAppearing(event)">{{"Guest"|localize}}</button>
        <!-- <div class="share-buttons">
          <a href="https://www.facebook.com/sharer/sharer.php?u={{ getEventUrl(event.id) }}" target="_blank">
            Share on Facebook
          </a>
          <br>
          <a href="https://twitter.com/intent/tweet?url={{ getEventUrl(event.id) }}&text={{ event.name }}" target="_blank">
            Share on Twitter
          </a>
          <br>
          <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ getEventUrl(event.id) }}" target="_blank">
            Share on LinkedIn
          </a>
          <br>
          <a href="https://api.whatsapp.com/send?text={{ event.name }}%20{{ getEventUrl(event.id) }}" target="_blank">
            Share on WhatsApp
          </a>
        </div> -->
      
      </div>
    </div>
  </div>
</div>
