<app-sidebar-event></app-sidebar-event>
<div class="wrapper">
  <div class="container mx-auto">

    <div class="events">
      <!-- Conditional Header and Events List -->
      <div *ngIf="events.length > 0">
        <div class="header-container d-flex justify-content-between align-items-center">
          <h2>{{ "My Events" | localize }}</h2>
          <div style="display: flex;flex-direction: row; gap: 15px;">

            <div class="search-container">
              <app-search [data]="events" (searchResults)="handleSearchResults($event)"></app-search>
            </div>

            <div>

              <a routerLink="/app/create-event" class="btncreate">{{ "Create Event" | localize }}</a>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div *ngFor="let event of filteredEvents" class="card" [ngStyle]="{
            'background-image': 'url(' + (event.eventImg ? event.eventImg : '../../assets/img/Event.jpg') + ')'
          }">
            <div class="header">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fa-solid fa-ellipsis"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" id="edit" (click)="openEditModal(Editetemplate, event.id)"
                      title="edit">
                      <i class="fa-solid fa-pen-to-square"></i> {{"Edit" | localize}}</button></li>
                  <li><button class="dropdown-item" id="delete" (click)="deleteEvent(event)" title="delete">
                      <i class="fas fa-trash"></i> {{"Delete" | localize}}</button></li>
                </ul>
              </div>
              <div class="date">
                <div class="day">{{ event.startDate | date: 'dd' }}</div>
                <div class="month">{{ event.startDate | date: 'MMM' }}</div>
              </div>
            </div>
            <div class="card-content">
              <h3>{{ event.name }}</h3>
              <p>{{ event.location }}</p>
              <button id="details" (click)="details(event)">{{ "View" | localize }}</button>
              <button id="invite" (click)="guestAppearing(event)">{{ "Invite" | localize }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- No Events Message -->


    <div *ngIf="events.length === 0" class="no-events ">
      <div class="header-container">
        <a routerLink="/app/create-event" class="btncreate">{{ "Create Event" | localize }}</a>
      </div>
      <div class="no-events1 ">

        <img src="../../../assets/img/NoEvent.gif" alt="">
        <h3>You have not created any event, please create the first event</h3>
      </div>
    </div>
  </div>

</div>

<!---------------- edit Modal ---------------------->
<ng-template #Editetemplate>
  <div class="modal-header">
    <h4 class="modal-title" style="color: #1D2027;">{{ "Update Event" | localize }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="eventEditForm" (ngSubmit)="editEvent()">
      <div>
        <label for="nameInput">{{ "Event Name:" | localize }}</label>
        <input formControlName="name" class="form-control" type="text" id="nameInput" name="nameInput"
          [(ngModel)]="eventEdit.name" required />
        <div *ngIf="eventEditForm.get('name').invalid && eventEditForm.get('name').touched" class="text-danger">
          <div *ngIf="eventEditForm.get('name').errors.required">{{ "Name is required." | localize }}</div>
          <div *ngIf="eventEditForm.get('name').errors.maxlength">{{ "Name cannot be longer than 100 characters." | localize }}</div>
        </div>
      </div>
      <div>
        <label>{{ "Map:" | localize }}</label>
        <div id="map" style="width: 100%; height: 400px;"></div>
        <input formControlName="location" type="text" [(ngModel)]="eventEdit.location" name="location" class="form-control mt-2" placeholder="{{ 'Event Location' | localize }}">
        <div *ngIf="eventEditForm.get('location').invalid && eventEditForm.get('location').touched" class="text-danger">
          <div *ngIf="eventEditForm.get('location').errors.required">{{ "Location is required." | localize }}</div>
        </div>
      </div>
      <div>
        <label for="startDateInput">{{ "Start Date:" | localize }}</label>
        <input formControlName="startDate" class="form-control" type="datetime-local" id="startDateInput"
          name="startDateInput" [(ngModel)]="eventEdit.startDate" (change)="validateDates()" required />
        <div *ngIf="eventEditForm.get('startDate').invalid && eventEditForm.get('startDate').touched"
          class="text-danger">
          <div *ngIf="eventEditForm.get('startDate').errors.required">{{ "Date is required." | localize }}</div>
        </div>
        <div *ngIf="dateErrors.startDateError" class="text-danger">
          {{ dateErrors.startDateError }}
        </div>
      </div>
      <div>
        <label for="endDateInput">{{ "End Date:" | localize }}</label>
        <input formControlName="endDate" class="form-control" type="datetime-local" id="endDateInput"
          name="endDateInput" [(ngModel)]="eventEdit.endDate" (change)="validateDates()" required />
        <div *ngIf="eventEditForm.get('endDate').invalid && eventEditForm.get('endDate').touched" class="text-danger">
          <div *ngIf="eventEditForm.get('endDate').errors.required">{{ "End Date is required." | localize }}</div>
        </div>
        <div *ngIf="dateErrors.endDateError" class="text-danger">
          {{ dateErrors.endDateError }}
        </div>
      </div>
      <div>
        <div class="form-group">
          <label>{{ "Event Category" | localize }}</label>
          <select [(ngModel)]="eventEdit.category" formControlName="category" name="category" class="form-control"
            title="{{ 'Event Category' | localize }}" required>
            <option *ngFor="let key of enumeratorKeys" [ngValue]="key">{{ key }}</option>
          </select>
        </div>
      </div>
      <div>
        <label for="maxCountInput">{{ "Max Count:" | localize }}</label>
        <input formControlName="maxCount" class="form-control" type="number" id="maxCountInput" name="maxCountInput"
          [(ngModel)]="eventEdit.maxCount" required />
        <div *ngIf="eventEditForm.get('maxCount').invalid && eventEditForm.get('maxCount').touched" class="text-danger">
          <div *ngIf="eventEditForm.get('maxCount').errors.required">{{ "Max Count is required." | localize }}</div>
        </div>
      </div>
      <div>
        <label>{{ "Choose Event Type" | localize }}</label>
        <div class="form-check">
          <label class="form-check-label">
            <input formControlName="isPublic" type="radio" [(ngModel)]="eventEdit.isPublic" [value]="true"
              name="isPublic" class="form-check-input" required>
            {{ "Public" | localize }}
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input formControlName="isPublic" type="radio" [(ngModel)]="eventEdit.isPublic" [value]="false"
              name="isPublic" class="form-check-input">
            {{ "Private" | localize }}
          </label>
        </div>
        <div *ngIf="eventEditForm.get('isPublic').invalid && eventEditForm.get('isPublic').touched" class="text-danger">
          <div *ngIf="eventEditForm.get('isPublic').errors.required">{{ "Event type is required." | localize }}</div>
        </div>
      </div>
      <div>
        <label for="descriptionInput">{{ "Description:" | localize }}</label>
        <textarea formControlName="description" class="form-control" name="description" id="descriptionInput" cols="30"
          rows="10" [(ngModel)]="eventEdit.description" pattern="^[a-zA-Z0-9 ]+$" required></textarea>
        <div *ngIf="eventEditForm.get('description').invalid && eventEditForm.get('description').touched"
          class="text-danger">
          <div *ngIf="eventEditForm.get('description').errors.required">{{ "Description is required." | localize }}</div>
          <div *ngIf="eventEditForm.get('description').errors.pattern">{{ "Description must be alphanumeric and less than 500 characters." | localize }}</div>
        </div>
      </div>
      <input class="btnupdate btn-success m-1" value="Update"  type="submit" />
    </form>
  </div>
</ng-template>
