body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.events {
    max-width: 70%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    align-content: center;
}

h2 {
    margin-top: 10px;
    display: block;
    
    /* font-size: 1.5em; */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 230px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.date {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.date .day {
    color: black;
    font-size: 1.2em;
}

.date .month {
    color: gray;
    font-size: 0.9em;
}

.card-content {
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.card-content h3 {
    margin: 0 0 10px;
    font-size: 1em;
}

.card-content p {
    margin: 0 0 10px;
    color: #666;
}

#details {
    background: #050794;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px 5px;
}
#invite {
    background:#fbaf1b ;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px 5px;
}

#invite:hover {
    background:#ebb447 ;
}
#details:hover {
    background: #5551ff;
}