@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

/* :root {
  --yellow: #529c08;
  --secondary-dark: #050794;
  --body-text: #e4e4e4;
  --lavender-color: #4e54c8;
  --light-gray: #b7b7b7;
} */
* {
  margin: 0px;
  padding: 0px;
}

body.hold-transition {
  background-color: #f1f1f1;
  font-family: "Exo", sans-serif;
  background-color: #b7b7b7;
}

.register-container {
  display: flex !important;
  width: 900px;
  border-radius: 25px;
  flex-wrap: wrap;
  margin: 100px auto !important;
  background-color: white;
  height: 90vh;
}
.googleSign {
  width: 100%;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 5px;
  background-color: white;
  transition: 0.6s;
}
.googleSign:hover {
  background-color: #007bff;
  color: white;
}
.googleSign:hover i {
  color: white;
}
.googleSign i {
  margin-right: 10px;
  color: #004690;
}
.orHr {
  position: relative;
  text-align: center;
  color: #004690;
  display: block;
  width: fit-content;
  font-weight: lighter;
  margin: 10px auto;
}
.orHr::before,
.orHr::after {
  position: absolute;
  content: "";
  top: 10px;
  width: 50px;
  height: 1px;
  background-color: #b7b7b7;
}
.orHr::before {
  left: -65px;
}
.orHr::after {
  right: -65px;
}
.form-container {
  width: 50%;
  padding: 20px;
  height: 100%;
}
div.input-group {
  margin: 10px 0px;
}
input.form-control,
select {
  background-color: white;
  border-color: aliceblue;
  border-width: 2px;
  padding: 5px 10px;
  outline: none;
}
.submit-btn.btn.btn-primary {
  margin: 20px 0px;
  background-color: #fbaf1b;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.input-group-text {
  color: #004690;
  width: 30px;
  padding: 7px;
  text-align: center;
  background-color: aliceblue;
}
.img-container {
  width: 50%;
  height: 90vh;
  border-radius: 0px 25px 25px 0px;
  overflow: hidden;
  position: relative;
}
.img-container .context {
  position: absolute;
  z-index: 222;
  left: 20px;
  top: 100px;
  color: white;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  margin-bottom: 30px;
}
.context p {
  text-align: center;
  line-height: 34px;
}
.area {
  background: #050794;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
