@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

/* :root {
  --yellow: #529c08;
  --secondary-dark: #050794;
  --body-text: #e4e4e4;
  --lavender-color: #4e54c8;
  --light-gray: #b7b7b7;
} */
* {
  margin: 0px;
  padding: 0px;
}

body.hold-transition {
  background-color: #f1f1f1;
  font-family: "Exo", sans-serif;
  background-color: #b7b7b7;
}

.register-container {
  display: flex !important;
  width: 900px;
  border-radius: 25px;
  flex-wrap: wrap;
  margin: 100px auto !important;
  background-color: white;
  height: 90vh;
}
.googleSign {
  width: 100%;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 5px;
  background-color: white;
  transition: 0.6s;
}
.googleSign:hover {
  background-color: #007bff;
  color: white;
}
.googleSign:hover i {
  color: white;
}
.googleSign i {
  margin-right: 10px;
  color: #004690;
}
.orHr {
  position: relative;
  text-align: center;
  color: #004690;
  display: block;
  width: fit-content;
  font-weight: lighter;
  margin: 10px auto;
}
.orHr::before,
.orHr::after {
  position: absolute;
  content: "";
  top: 10px;
  width: 50px;
  height: 1px;
  background-color: #b7b7b7;
}
.orHr::before {
  left: -65px;
}
.orHr::after {
  right: -65px;
}
.form-container {
  width: 50%;
  padding: 20px;
  height: 100%;
}
div.input-group {
  margin: 10px 0px;
}
input.form-control,
select {
  background-color: white;
  border-color: aliceblue;
  border-width: 2px;
  padding: 5px 10px;
  outline: none;
}
.submit-btn.btn.btn-primary {
  margin: 20px 0px;
  background-color: #004690;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.input-group-text {
  color: #004690;
  width: 30px;
  padding: 7px;
  text-align: center;
  background-color: aliceblue;
}
.img-container {
  /* width: 50%;
  height: 90vh;
  border-radius: 0px 25px 25px 0px;
  overflow: hidden;
  position: relative; */
  width: 50%;
  height: 100%;
  background: url('../../assets/img/image.jpg') no-repeat center center;
  background-size: cover;
}
