body {
  background-color: white !important;
  margin: 0;
  padding: 0;
  min-height: 100vh; 
}
.container {
    display: flex;
    justify-content: space-between;
  }

.input-group :hover{
    border-color: #050794;
}
  .reset-title {
    margin-bottom: 20px;
    border-left: 3px solid #050794;
  }
  
  .left-side {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    width: 50%;
  }
  .right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-container img {
    max-width: 80%;
    height: 90%;
    width: 100%;
    animation:slowBounce 6s infinite;
}
@keyframes slowBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.btn_sendEmail{
    background-color: #050794;
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
    width: 80%;
    cursor: pointer;
    border-radius: 15px;
    border-color: white;
    color: white;
}

.btn_sendEmail:hover{
    background-color: #090cbc;
}

  @media (max-width: 768px) {
    .left-side, .right-side {
      width: 100%;
      margin: 10px 0;
    }
}
.alert {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
  }
  .input-group{
    font-family: 'merriweather', serif;
    border-radius: 10px;
    border: 1px solid #2b1e93;
    outline: none;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    width: 80%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
  .alert-success {
    background-color: #d4edda;
    color: #155724;
  }
  
  .alert-danger {
    background-color: #f8d7da;
    color: #721c24;
  }
  
 