<div class="container">
  <div class="left-side">
      <!-- <div class="alert alert-success" *ngIf="successMessage | async as success">
          {{ success | localize }}
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage | async as error">
          {{ error | localize }}
      </div> -->

      <h1 class="reset-title">{{ "Reset Your Password" | localize }}</h1>

      <div>
          <label>{{ "Please Enter Your Email" | localize }}</label>
          <input type="text" class="form-control input-group" [(ngModel)]="email" />
          <button class="btn_sendEmail" (click)="SendEmail()">{{ "Send Email" | localize }}</button>
      </div>
  </div>

  <div class="right-side">
      <div class="image-container">
          <img src="assets/img/Forgotpassword-amico.png" alt="reset-password">
      </div>
  </div>
</div>

<div class="right-side">
  <div class="image-container">
    <img src="assets/img/Forgotpassword-amico.png" alt="reset-password">
  
</div>
</div>
