<div class="container ">

    <div class="alert alert-success" *ngIf="successMessage | async as success">
        {{ "success" |localize }}
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage | async as error">
        {{ "error" |localize }}
      </div>

      <h1 class="reset-title">{{"Reset Your Password"|localize }}</h1>

      <div>
    <label>{{"Please Enter Your Email" |localize }}</label>
    <input type="text" class="form-control " [(ngModel)]="email"/>
    <br>
    <button (click)="SendEmail()" style="border: none;padding: 10px; color: #fff; background-color: #050794;">{{"Send Email" | localize}}</button>
  </div>
</div>
