<div class="dropdown">

  <span *ngIf="this.unreadMessageCount > 0" class="msgCount">{{this.unreadMessageCount}}</span>
 
  <i class="fa-regular fa-envelope mt-3" style="cursor: pointer; font-size: 24px" (click)="toggleCollapse($event)"></i>
    <div class="dropdown-menu custom-dropdown-menu p-3" style="width: 200px" [ngClass]="{ show: isCollapsed }" aria-labelledby="dropdownMenuButton">
      <div class="mb-3">
        <h3 style="color: #050793">{{ 'Chats' | localize }} </h3>
      </div>
      <div class="main-wrapper">
        <div *ngFor="let item of AllChats; let i = index" class="d-flex flex-row gap-2 main mb-2" (click)="LoadUserChat(item.recieverId)">
            <div>
              <img class="userImg" [src]="item.image ? item.image : defaultImage">
            </div>
            <div class="d-flex flex-column flex-grow-1">
              <p class="text-bold">{{ item.userName }}</p>
              <div *ngIf="getLastMsg(item.recieverId) as lastMsg" class="message-container">
                <small class="message">{{ lastMsg.message }}</small>
                <small class="time text-gray">{{ getMessageTime(lastMsg.creationTime) }}</small>
              </div>
            </div>
          </div>
          
      </div>
    </div>
  </div>
  