.custom-dropdown-menu {
        width: 370px !important;
        position: absolute;
        top: 40px;
        left: -300px;
        z-index: 1000;
}

.userImg {
        border-radius: 50%;
        width: 60px;
        height: 60px;
}

.main-wrapper {
        cursor: pointer;

}

.main {
        padding: 5px;
        background-color: rgb(241, 246, 249);
        border-radius: 10px;
}

.message-container {
        position: relative;
}

.time {
        position: absolute;
        right: 0;
        bottom: 0;
}
.msgCount{
        display: inline-block;
        position: absolute;
        top: 0px;
        font-size: 10px;
        font-weight: bold;
        right: 0px;
        background-color: #dc3545;
        padding: 1px 6px;
        border-radius: 50%;
        color: white;
}
.dropdown{
        position: relative;
}

@media only screen and (max-width: 767px) {
        .custom-dropdown-menu {
                width: 328px !important;
                position: absolute;
                top: 50px;
                left: -85px;
                z-index: 1000;
        }  
}