.Main {
    display: block;
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
  }
  
  .border {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 10;
  }
  
  .border-inner {
    background-color: #000;
    position: absolute;
    will-change: transform;
  }
  
  .border-inner:nth-child(1),
  .border-inner:nth-child(2) {
    width: 100%;
    height: 31px;
  }
  
  .border-inner:nth-child(3),
  .border-inner:nth-child(4) {
    width: 31px;
    height: 100%;
  }
  
  .border-inner:nth-child(1) {
    top: 0;
    left: 0;
    transform: translateY(-32px);
  }
  
  .border-inner:nth-child(2) {
    bottom: 0;
    left: 0;
    transform: translateY(32px);
  }
  
  .border-inner:nth-child(3) {
    top: 0;
    left: 0;
    transform: translateX(-32px);
  }
  
  .border-inner:nth-child(4) {
    top: 0;
    right: 0;
    transform: translateX(32px);
  }
  
  #wrapper {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
  }
  
  #wrapper .box {
    display: inline-block;
    float: left;
    position: relative;
    width: 16.666%;
    height: 15vh;
  }
  
  #wrapper .rombo {
    display: inline-block;
    background-color: #FF3668;
    will-change: transform, opacity;
    opacity: 0;
    position: absolute;
    width: 2vw;
    height: 1vw;
  }
  
  @media only screen and (max-width: 736px) {
    #wrapper .rombo {
      width: 4vw;
      height: 2vw;
    }
  
    .Main {
      height: 100vh;
      min-height: 100vh;
    }
  
    .border {
      min-height: 100%;
    }
  
    .border-inner:nth-child(1),
    .border-inner:nth-child(2) {
      width: 100%;
      height: 10px;
    }
  
    .border-inner:nth-child(3),
    .border-inner:nth-child(4) {
      width: 10px;
      height: 100%;
    }
  }
  
  #control {
    background-color: #fff;
    border: 1px solid #eee;
    display: block;
    color: #000;
    text-decoration: none;
    font-family: 'Cutive Mono';
    text-align: center;
    letter-spacing: 5px;
    padding: 2px 8px 2px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
  }
  
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    background-color: #fff;
    font-size: 16px;
  }
  
  .overflow {
    overflow: hidden !important;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  