<app-header></app-header>
<header>
  <div>
    <h1>Eventa System</h1>
    <p>UNIQUE,
CREATIVE AND
EXTRAORDINARY</p>
  </div>
</header>
<div [@routerTransition]>

  <section>
    <div class="container m-2 p-2">
      <div class="row">
        <div class="col-12">
          <app-public-events></app-public-events>
        </div>
      </div>
    </div>
  </section>
    <!-- Chat Button -->
    <div class="chat-button-container">
      <button class="chat-button" (click)="openChat()">
        <img src="../../assets/img/Aboutus.png" alt="Chat Icon">
        Support
      </button>
    </div>
     <!-- Chat Popup -->
  <div class="chat-popup" id="chatPopup">
    <div class="chat-header">
      <h2>Support</h2>
      <span class="close" (click)="closeChat()">&times;</span>
    </div>
    <div class="chat-body">
      <p class="p1 chatbot-title" *ngIf="!selectedQuestion">What are you inquiring about?</p>
      <ng-container *ngIf="!selectedQuestion">
        <button *ngFor="let question of questions" (click)="askQuestion(question)">{{ question }}</button>
      </ng-container>
      <div *ngIf="answer" class="panswer">
        <p class="p2 chatbot-q" >{{ selectedQuestion }}</p>
        <p class="p1 chatbot-a" >{{ answer }}</p>
        <button (click)="resetQuestions()">Ask another question</button>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
