
.home-header
{

  background-image: url(../../assets/img/header-bg.jpg);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  
}
.big-div{
  font-family: 'Quattrocento',Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.4em;
  padding-top: 4px !important;
  margin-bottom: 1px !important;
  max-width: 800px;
  text-align: center;
  color: white;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  vertical-align: baseline;
}
.inner-div{
  padding-bottom: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.inner-div h1{
  font-family: 'Quattrocento', Georgia, "Times New Roman", serif;
  text-transform: uppercase;
  font-size: 78px;
  letter-spacing: 6px;
  line-height: 1.4em;
  text-align: center;
  padding-bottom: 10px;
}
.hidden {
  display: none;
}

/* body {
  background: #f5f6f8;
}
.font-body {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6b7289;
}
.widget-slideshow-container {
  max-width: 1440px;
  position: relative;
  margin: auto auto 50px auto;
}
.widget-slideshow-container .slideshow-header {
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 600;
  color: #32384d;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  padding-top: 69px;
  padding-bottom: 64px;
}
.widget-slideshow-container .slider-container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
}
.widget-slideshow-container .slider-container .navlabels-slider {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 14px;
  border-bottom: 1px solid #e9ecf0;
}
.widget-slideshow-container .slider-container .navlabels-slider .navlabel {
  cursor: pointer;
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 600;
  color: #32384d;
  font-size: 16px;
  line-height: 24px;
}
.widget-slideshow-container .slider-container .navlabels-slider .navlabel.active {
  color: #406aa0;
  padding-bottom: 14px;
  border-bottom: 2px solid #406aa0;
}
.widget-slideshow-container .slider-container .navlabels-slider .navlabel:hover {
  color: #406aa0;
  padding-bottom: 14px;
  border-bottom: 2px solid #406aa0;
}
.widget-slideshow-container .slider-container .slider-elements {
  margin-top: 40px;
  position: relative;
  height: 324px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  height: 324px;
  overflow: hidden;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-img-wrapper {
   max-width: 540px;
                    max-height: 324px; 

  position: relative;
  flex-basis: 50%;
  flex-grow: .5;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-img-wrapper .slider-img {
  position: absolute;
  right: 0;
  min-width: 600px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content {
  padding: 54px 45px 74px 28px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content > * {
  z-index: 1;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content::before {
  background-color: #ffffff;
  width: inherit;
  height: 100%;
  position: absolute;
  top: 0;
  content: '';
  transform: skew(-10deg) translateX(-60px);
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content .title {
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 600;
  color: #32384d;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 16px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content .content {
  margin-bottom: 16px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content .link {
  color: #406aa0;
  margin-bottom: 16px;
  text-decoration: none;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content .link:hover {
  color: #0249F3;
}
.widget-slideshow-container .slider-container .slider-elements button.slider-prev,
.widget-slideshow-container .slider-container .slider-elements button.slider-next {
  width: 48px;
  height: 64px;
  background: #ffffff;
  color: #6B7289;
  top: 50%;
}
.widget-slideshow-container .slider-container .slider-elements .slider-prev,
.widget-slideshow-container .slider-container .slider-elements .slider-next {
  cursor: pointer;
  position: absolute;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.widget-slideshow-container .slider-container .slider-elements .slider-prev:hover,
.widget-slideshow-container .slider-container .slider-elements .slider-next:hover {
  background-color: #406aa0;
  color: #ffffff;
}
.widget-slideshow-container .slider-container .slider-elements .slider-prev {
  left: -24px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-prev::before {
  content: "<";
}
.widget-slideshow-container .slider-container .slider-elements .slider-next {
  right: -24px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-next::after {
  content: ">";
}
@media only screen and (max-width: 767px) {
  .widget-slideshow-container {
  height: 100%;
}
.widget-slideshow-container .slideshow-header {
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 600;
  color: #32384d;
  font-size: 28px;
  line-height: 34px;
  padding-top: 88px;
  padding-bottom: 0;
}
.widget-slideshow-container .slider-container {
  height: 100%;
}
.widget-slideshow-container .slider-container .navlabels-slider {
  display: none;
}
.widget-slideshow-container .slider-container .slider-elements {
  height: 100%;
  margin-top: 24px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container {
  flex-direction: column;
  height: 100%;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-img-wrapper,
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content {
  flex-grow: 1;
  flex-basis: 100%;
  width: 100%;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-img-wrapper .slider-img {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: unset;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-img-wrapper::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 1;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-img-wrapper::after {
  content: attr(data-title);
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 600;
  color: #fff;
  font-size: 28px;
  line-height: 34px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  max-width: 80%;
  padding-left: 10%;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content {
  padding: 24px 40px 24px 16px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content::before {
  display: none;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content .title {
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 600;
  color: #32384d;
  font-size: 20px;
  line-height: 24px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content .link {
  margin-bottom: 0;
}
.widget-slideshow-container .slider-container .slider-elements .slider-next,
.widget-slideshow-container .slider-container .slider-elements .slider-prev {
  z-index: 2;
}

} */

/* Document style */
/* body * {
  box-sizing : border-box;
}

header > * {
  font-size:2em;
  margin:0;
}
header {
  margin-bottom: 2em;
  text-align: center;
}
small {
  font-size:0.9em;
}
body {
 font-family: Lato, Calibri, Arial, sans-serif;
 color:#ffffff;
 background:#ffffff;
 margin:0;
 padding:0;
}

/* Links */
/* a {
 color:#ffffff;
 text-decoration: none;
}
a:hover {
 color:#333333;
}

section {
 overflow: auto;
 padding:3em;
 margin: 0 auto;
} */

/* Simple slideshow (not resposive - yet) */
/* .slideshow-wrapper {
 width:704px;
 overflow:hidden;
 margin: 0 auto;
}

.slideshow-wrapper ul {
 margin:0;
 padding:0;

 -webkit-animation: slideshow 10s infinite;
 -moz-animation: slideshow 10s infinite;
 -o-animation: slideshow 10s infinite;
 animation: slideshow 10s infinite;
}
.slides .slide-image {
 width:700px;
 display:inline-block;
 margin:0;
 padding:0;
}
.slides .slide-image img {
 width: 100%;
} */

/* Helper classes */
/* .bg-blue {
 background: #0E83CD;
}

.heart {
 color:red;
 font-size: 1.4em;
}
.text-center {
 text-align: center;
}
.transition-all {
 -webkit-transition: all 1s;
 -moz-transition: all 1s;
 -o-transition: all 1s;
 transition: all 1s;
} */

/* Animation */
/* @-webkit-keyframes slideshow {
 0%   	{ margin-left: 0.5%; 			}
 25% 	{ margin-left: -100%; 	}
 50% 	{ margin-left: -200%;	}
 75% 	{ margin-left: -300%; }
}
@-moz-keyframes slideshow {
 0%   	{ margin-left: 0.5%; 			}
 25% 	{ margin-left: -100%; 	}
 50% 	{ margin-left: -200%;	}
 75% 	{ margin-left: -300%; }
}
@-o-keyframes slideshow {
 0%   	{ margin-left: 0.5%; 			}
 25% 	{ margin-left: -100%; 	}
 50% 	{ margin-left: -200%;	}
 75% 	{ margin-left: -300%; }
}

@keyframes slideshow {
 0%   	{ margin-left: 0.5%; 			}
 25% 	{ margin-left: -100%; 	}
 50% 	{ margin-left: -200%;	}
 75% 	{ margin-left: -300%; }
} */

/* Media queries */
/*@media only screen and (max-width:768px) {
 .slideshow-wrapper  { width:404px; }
 .slideshow-wrapper .slides .slide-image{ width:400px; }
 section { padding:0.5em; }
}

@media only screen and (max-width:400px) {
 .slideshow-wrapper  { width:304px; }
 .slideshow-wrapper .slides .slide-image { width:300px;}
} */

