

html,
body {
  background: #1d3557;
  font-family: Montserrat, Oswald, Arial, sans-serif;
  color: #dde;
  margin: 0;
  padding: 0;
}

header {
  height: 50vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  background-color: #f0f0ff;

}

@keyframes showBars {
  0% {
    opacity: 0;
    background-position: -400% 7%, 500% 21%, -400% 35%, 500% 49%, -400% 63%,
      500% 77%, -400% 91%;
  }
  14% {
    background-position: 0% 7%, 500% 21%, -400% 35%, 500% 49%, -400% 63%,
      500% 77%, -400% 91%;
  }
  28% {
    background-position: 0% 7%, 100% 21%, -400% 35%, 500% 49%, -400% 63%,
      500% 77%, -400% 91%;
  }
  42% {
    background-position: 0% 7%, 100% 21%, 0% 35%, 500% 49%, -400% 63%, 500% 77%,
      -400% 91%;
  }
  56% {
    background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, -400% 63%, 500% 77%,
      -400% 91%;
  }
  70% {
    background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, 0% 63%, 500% 77%,
      -400% 91%;
  }
  84% {
    background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, 0% 63%, 100% 77%,
      -400% 91%;
  }
  98%,
  100% {
    opacity: 1;
    background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, 0% 63%, 100% 77%,
      0% 91%;
  }
}

header::after {
  content: "";
  width: 100%;
  height: 20vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: 70% 7%;
 
  background-image: linear-gradient(#050794, #050794),
   
    linear-gradient(#fbaf1b, #fbaf1b), linear-gradient(#050794, #050794),
    linear-gradient(#fbaf1b, #fbaf1b), linear-gradient(#050794, #050794);
  background-position: 0% 7%, 100% 21%, 0% 35%, 100% 49%, 0% 63%, 100% 77%,
    0% 91%;
  animation: showBars 2.5s;
}

@keyframes showText {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

header > div {
  position: relative;
  transform: translate(-100%, 0);
  opacity: 0;
  animation: showText 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  text-align: center;
}

h1 {
  font-weight: 400;
  font-family: Oswald, Montserrat, arial, sans-serif;
  margin: 0;
  font-size: 10vw;
  color: #050794;
}

p {
  color: #000262;
  margin: 0;
  font-size: 5vw;
  margin-bottom: 5vh;
}

@media all and (min-width: 768px) {
  @keyframes showBarsBig {
    0% {
      opacity: 0;
      background-position: 7% -400%, 21% 500%, 35% -400%, 49% 500%, 63% -400%,
        77% 500%, 91% -400%;
    }
    14% {
      background-position: 7% 0%, 21% 500%, 35% -400%, 49% 500%, 63% -400%,
        77% 500%, 91% -400%;
    }
    28% {
      background-position: 7% 0%, 21% 100%, 35% -400%, 49% 500%, 63% -400%,
        77% 500%, 91% -400%;
    }
    42% {
      background-position: 7% 0%, 21% 100%, 35% 0%, 49% 500%, 63% -400%,
        77% 500%, 91% -400%;
    }
    56% {
      background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% -400%,
        77% 500%, 91% -400%;
    }
    70% {
      background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 500%,
        91% -400%;
    }
    84% {
      background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%,
        91% -400%;
    }
    98%,
    100% {
      opacity: 1;
      background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%,
        91% 0%;
    }
  }

  @keyframes showTextBig {
    0% {
      opacity: 0;
      transform: translate(-100%, 0);
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translate(0vw, 0);
    }
  }

  header {
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  header::after {
    width: 20vw;
    height: 100%;
    background-size: 7% 70%;
    background-position: 7% 0%, 21% 100%, 35% 0%, 49% 100%, 63% 0%, 77% 100%,
      91% 0%;
    animation-name: showBarsBig;
  }

  header > div {
    animation-name: showTextBig;
    margin-left: 22vw;
    text-align: left;
  }

  h1 {
    font-size: 8vw;
  }

  p {
    font-size: 4vw;
    margin-bottom: 0;
  }
}

@media (prefers-reduced-motion) {
  header::after {
    animation: none !important;
  }

  @keyframes showTextReduced {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  header > div {
    transform: translate(0, 0);
    animation-name: showTextReduced;
    animation-delay: 0.5s !important;
  }
}

.home-header {
  /* background-image: url(../../assets/img/header-bg.jpg); */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.big-div {
  font-family: "Quattrocento", Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.4em;
  padding-top: 4px !important;
  margin-bottom: 1px !important;
  max-width: 800px;
  text-align: center;
  color: white;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  vertical-align: baseline;
}
.inner-div {
  padding-bottom: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
.inner-div h1 {
  font-family: "Quattrocento", Georgia, "Times New Roman", serif;
  text-transform: uppercase;
  font-size: 78px;
  letter-spacing: 6px;
  line-height: 1.4em;
  text-align: center;
  padding-bottom: 10px;
}
.hidden {
  display: none;
}
.chatbot-title{
  font-size: 20px;
  margin-bottom: 10px;
}
.chatbot-q,.chatbot-a{
  margin: 5px 0px;
}
.supplierclass{
  display: flex;
  align-items: center;
  width: 80%;
  margin: 50px auto;
  flex-direction: column;
  justify-content: center;
}
.createplace{
  background-color: #fbaf1b;
  border: #fbaf1b;
  border-radius: 5px;
  padding: 10px;
  color: white;
}
/* body {
  background: #f5f6f8;
}
.font-body {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6b7289;
}
.widget-slideshow-container {
  max-width: 1440px;
  position: relative;
  margin: auto auto 50px auto;
}
.widget-slideshow-container .slideshow-header {
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 600;
  color: #32384d;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  padding-top: 69px;
  padding-bottom: 64px;
}
.widget-slideshow-container .slider-container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
}
.widget-slideshow-container .slider-container .navlabels-slider {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 14px;
  border-bottom: 1px solid #e9ecf0;
}
.widget-slideshow-container .slider-container .navlabels-slider .navlabel {
  cursor: pointer;
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 600;
  color: #32384d;
  font-size: 16px;
  line-height: 24px;
}
.widget-slideshow-container .slider-container .navlabels-slider .navlabel.active {
  color: #406aa0;
  padding-bottom: 14px;
  border-bottom: 2px solid #406aa0;
}
.widget-slideshow-container .slider-container .navlabels-slider .navlabel:hover {
  color: #406aa0;
  padding-bottom: 14px;
  border-bottom: 2px solid #406aa0;
}
.widget-slideshow-container .slider-container .slider-elements {
  margin-top: 40px;
  position: relative;
  height: 324px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  height: 324px;
  overflow: hidden;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-img-wrapper {
   max-width: 540px;
                    max-height: 324px; 

  position: relative;
  flex-basis: 50%;
  flex-grow: .5;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-img-wrapper .slider-img {
  position: absolute;
  right: 0;
  min-width: 600px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content {
  padding: 54px 45px 74px 28px;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content > * {
  z-index: 1;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content::before {
  background-color: #ffffff;
  width: inherit;
  height: 100%;
  position: absolute;
  top: 0;
  content: '';
  transform: skew(-10deg) translateX(-60px);
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content .title {
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 600;
  color: #32384d;
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 16px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content .content {
  margin-bottom: 16px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content .link {
  color: #406aa0;
  margin-bottom: 16px;
  text-decoration: none;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content .link:hover {
  color: #0249F3;
}
.widget-slideshow-container .slider-container .slider-elements button.slider-prev,
.widget-slideshow-container .slider-container .slider-elements button.slider-next {
  width: 48px;
  height: 64px;
  background: #ffffff;
  color: #6B7289;
  top: 50%;
}
.widget-slideshow-container .slider-container .slider-elements .slider-prev,
.widget-slideshow-container .slider-container .slider-elements .slider-next {
  cursor: pointer;
  position: absolute;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.widget-slideshow-container .slider-container .slider-elements .slider-prev:hover,
.widget-slideshow-container .slider-container .slider-elements .slider-next:hover {
  background-color: #406aa0;
  color: #ffffff;
}
.widget-slideshow-container .slider-container .slider-elements .slider-prev {
  left: -24px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-prev::before {
  content: "<";
}
.widget-slideshow-container .slider-container .slider-elements .slider-next {
  right: -24px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-next::after {
  content: ">";
}
@media only screen and (max-width: 767px) {
  .widget-slideshow-container {
  height: 100%;
}
.widget-slideshow-container .slideshow-header {
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 600;
  color: #32384d;
  font-size: 28px;
  line-height: 34px;
  padding-top: 88px;
  padding-bottom: 0;
}
.widget-slideshow-container .slider-container {
  height: 100%;
}
.widget-slideshow-container .slider-container .navlabels-slider {
  display: none;
}
.widget-slideshow-container .slider-container .slider-elements {
  height: 100%;
  margin-top: 24px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container {
  flex-direction: column;
  height: 100%;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-img-wrapper,
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content {
  flex-grow: 1;
  flex-basis: 100%;
  width: 100%;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-img-wrapper .slider-img {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: unset;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-img-wrapper::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  z-index: 1;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-img-wrapper::after {
  content: attr(data-title);
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 600;
  color: #fff;
  font-size: 28px;
  line-height: 34px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  max-width: 80%;
  padding-left: 10%;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content {
  padding: 24px 40px 24px 16px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content::before {
  display: none;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content .title {
  font-family: 'Barlow-Bold';
  font-style: normal;
  font-weight: 600;
  color: #32384d;
  font-size: 20px;
  line-height: 24px;
}
.widget-slideshow-container .slider-container .slider-elements .slider-element-container .slider-content .link {
  margin-bottom: 0;
}
.widget-slideshow-container .slider-container .slider-elements .slider-next,
.widget-slideshow-container .slider-container .slider-elements .slider-prev {
  z-index: 2;
}

} */

/* Document style */
/* body * {
  box-sizing : border-box;
}

header > * {
  font-size:2em;
  margin:0;
}
header {
  margin-bottom: 2em;
  text-align: center;
}
small {
  font-size:0.9em;
}
body {
 font-family: Lato, Calibri, Arial, sans-serif;
 color:#ffffff;
 background:#ffffff;
 margin:0;
 padding:0;
}

/* Links */
/* a {
 color:#ffffff;
 text-decoration: none;
}
a:hover {
 color:#333333;
}

section {
 overflow: auto;
 padding:3em;
 margin: 0 auto;
} */

/* Simple slideshow (not resposive - yet) */
/* .slideshow-wrapper {
 width:704px;
 overflow:hidden;
 margin: 0 auto;
}

.slideshow-wrapper ul {
 margin:0;
 padding:0;

 -webkit-animation: slideshow 10s infinite;
 -moz-animation: slideshow 10s infinite;
 -o-animation: slideshow 10s infinite;
 animation: slideshow 10s infinite;
}
.slides .slide-image {
 width:700px;
 display:inline-block;
 margin:0;
 padding:0;
}
.slides .slide-image img {
 width: 100%;
} */

/* Helper classes */
/* .bg-blue {
 background: #0E83CD;
}

.heart {
 color:red;
 font-size: 1.4em;
}
.text-center {
 text-align: center;
}
.transition-all {
 -webkit-transition: all 1s;
 -moz-transition: all 1s;
 -o-transition: all 1s;
 transition: all 1s;
} */

/* Animation */
/* @-webkit-keyframes slideshow {
 0%   	{ margin-left: 0.5%; 			}
 25% 	{ margin-left: -100%; 	}
 50% 	{ margin-left: -200%;	}
 75% 	{ margin-left: -300%; }
}
@-moz-keyframes slideshow {
 0%   	{ margin-left: 0.5%; 			}
 25% 	{ margin-left: -100%; 	}
 50% 	{ margin-left: -200%;	}
 75% 	{ margin-left: -300%; }
}
@-o-keyframes slideshow {
 0%   	{ margin-left: 0.5%; 			}
 25% 	{ margin-left: -100%; 	}
 50% 	{ margin-left: -200%;	}
 75% 	{ margin-left: -300%; }
}

@keyframes slideshow {
 0%   	{ margin-left: 0.5%; 			}
 25% 	{ margin-left: -100%; 	}
 50% 	{ margin-left: -200%;	}
 75% 	{ margin-left: -300%; }
} */

/* Media queries */
/*@media only screen and (max-width:768px) {
 .slideshow-wrapper  { width:404px; }
 .slideshow-wrapper .slides .slide-image{ width:400px; }
 section { padding:0.5em; }
}

@media only screen and (max-width:400px) {
 .slideshow-wrapper  { width:304px; }
 .slideshow-wrapper .slides .slide-image { width:300px;}
} */

/* Chat Button */
.chat-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chat-button {
  background-color: white;
  color: #050794;
  border: none;
  padding: 15px 20px;
  border-radius: 50px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.chat-button img {
  width: 24px;
  height: 24px;
}

/* Chat Popup */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: white;
  border: 2px solid #fbaf1b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 300px;
}

.chat-header {
  background-color: #fbaf1b;
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header h2 {
  margin: 0;
}

.chat-header .close {
  cursor: pointer;
  color: white;
}

.chat-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-body button {
  background-color: white;
  color: #050794;
  border-color: #fbaf1b;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.chat-body button:hover {
  background-color: white;
  color: #fbaf1b;
  border-color: #050794;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.chat-body .p1{
    font-size: 1vw;
   
}
.chat-body .p2{
  font-size: 1.15vw;
  color: #080948;
 
}

.panswer {
  font-family: "Quattrocento", Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 1.4em;
  padding-top: 4px !important;
  margin-bottom: 1px !important;
  max-width: 800px;
  text-align: center;
  color: black;
  word-wrap: break-word;
  margin-left: auto;
  margin-right: auto;
  vertical-align: baseline;
}

@media only screen and (max-width: 767px) {
header{
  height: 54vh;
}
header div{
  padding :20px;

}
header h1{
  font-size: 9vh;
}
header p{
  font-size: 4vh;
}
}