* {
        box-sizing: border-box;
}

body {
        margin: 0px;
        padding: 0px;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #130f40;
        font-family: 'Lato' !important;
}

.search-box {
        width: fit-content;
        height: fit-content;
        position: relative;
}

.input-search {
        height: 50px;
        width: 50px;
        border-style: none;
        padding: 10px;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        background-color: #fff;
        /* Change to white */
        padding-right: 40px;
        color: #000;
        /* Change to black */
}

.input-search::placeholder {
        color: rgba(0, 0, 0, .5);
        /* Change to a darker color */
        font-size: 18px;
        letter-spacing: 2px;
        font-weight: 100;
}

.btn-search {
        width: 45px;
        height: 45px;
        border-style: none;
        font-size: 18px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: 0px;
        color: #000;
        /* Change to black */
        background-color: #FFC107;
        /* Change to white */
        pointer-events: painted;
}

.btn-search:focus {

        background-color: #fff !important;
}

.btn-search:focus~.input-search {
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(0, 0, 0, .5);
        /* Change to a darker color */
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus~.btn-search {
        background-color: #fff !important;

}

.input-search:focus {
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom: 1px solid rgba(0, 0, 0, .5);
        /* Change to a darker color */
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
