.create-event {
  max-width: 1200px;
  margin-left: 20px;
  padding: 30px;
  background: #ffffff;
  height: auto;
}
button.swal2-confirm.swal2-styled {
  background-color: #050794 !important; /* Green color for confirm button */
  color: white !important;
}

button.swal2-cancel.swal2-styled {
  background-color: #fbaf1b !important; /* Red color for cancel button */
  color: white !important;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

h2 {
  color: #050794;
  text-align: center;
  margin-left: 500px;
}

textarea {
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 100px;
  border: 1px solid #ddd;
}

label {
  display: inline-block;
  margin-right: 10px;
  color: rgb(49, 49, 135);
  font-size: 16px;
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inner-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-column,
.right-column {
  margin-top: 20px;
  width: 600%;
  display: flex;
  flex-direction: column;
}
.right-column {
  margin-left: 50px;
}
h2 img {
  width: 45px;
  animation: swing 2s ease-in-out infinite;
}

.image-container {
  margin-left: 250px;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  margin-left: 50px;
  height: auto;
  width: 1500px !important;
}

input[type="file"] {
  border: none;
}

input,
select {
  border: none;
  border-bottom: 1px solid blue;
  margin-bottom: 20px !important;
}

.left-column > *,
.right-column > * {
  margin-bottom: 1rem;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: -0.8rem;
  margin-bottom: 0.8rem;
}

.date-time-container {
  display: flex;
  justify-content: space-between;
}

.date-time-container > * {
  width: 48%;
}

.submit-button {
  padding: 12px 20px;
  background-color: #fbaf1b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #0056b3;
}
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
