.create-event {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    margin-top: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    height: 100px;
    border: 1px solid #ddd;
}

label {
    display: inline-block;
    margin-right: 10px;
    color: rgb(49, 49, 135);
    font-size: 16px;
    font-weight: bold;
}


.create-event h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container {
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-column{
    margin-top: 5px;
    padding: 50px 0px !important;
}
.left-column, .right-column {
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 20px 20px;
}
input[type=file]{
    border: none;
    margin-bottom: 20px !important;
}
input{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid blue;
    margin-bottom: 20px !important;
}
select{
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid blue;
}

.left-column > *, .right-column > * {
    margin-bottom: 1rem;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: -0.8rem;
    margin-bottom: 0.8rem;
}

.date-time-container {
    display: flex;
    justify-content: space-between;
}

.date-time-container > * {
    width: 48%;
}

.submit-button {
    width: 10%;
    margin-left: 700px;
    margin-top: 1rem;
    padding: 12px 20px;
    background-color: rgb(49, 49, 135);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}