.create-event {
  max-width: 1200px;
  margin: 20px auto 20px 20px;
  padding: 30px;
  background: #ffffff;
}
body {
overflow-x:hidden !important;
}

button.swal2-confirm.swal2-styled {
  background-color: #050794 !important;
  color: white !important;
}

button.swal2-cancel.swal2-styled {
  background-color: #fbaf1b !important;
  color: white !important;
}

h2 {
  color: #050794;
  text-align: center;
}

textarea {
  background-color: #f5f5f5;
  border-radius: 10px;
  height: 100px;
  border: 1px solid #ddd;
  width: 100%; /* Ensures the textarea fits within the column */
}

label {
  color: rgb(49, 49, 135);
  font-size: 16px;
  font-weight: bold;
}

.image-container img {
  margin-top: 40px;
  width: 100%;
  height: auto;
}

.error-message {
  color: red;
  font-size: 0.8rem;
}

.submit-button {
  background-color: #fbaf1b;
  padding:10px 20px;
  border:none;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

h2 img {
  width: 45px;
  animation: swing 2s ease-in-out infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.date-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap; /* Ensures the inputs wrap if necessary */
}

.date-container > div {
  flex: 1; /* Ensures both date inputs take up equal space */
  min-width: calc(50% - 10px); /* Ensures they don't shrink too much */
}

.larger-image {
  width: 100%;
  max-width: 500px; 
  height: auto;
}

/* Responsive design */
@media (max-width: 991px) {
  .date-container {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .form-inner-container {
    flex-direction: column;
  }
  .image-container {
    order: -1;
    margin-bottom: 20px;
  }
}
