<div class="create-event">
    <h2>Create Event</h2>
    <form (ngSubmit)="createEvent()" #eventForm="ngForm" class="form-container">
        <div class="left-column">
            <label>User Name</label>
            <input type="text" [value]="username" name="username" placeholder="Username" readonly>
            <input type="hidden" [value]="eventData.userId" name="userId">
          
            <label>Event Name</label>
            <input type="text" [(ngModel)]="eventData.name" name="name" placeholder="Event Name" required>
            <div *ngIf="eventForm.controls['name'].invalid && (eventForm.controls['name'].dirty || eventForm.controls['name'].touched)" class="error-message">
                <div *ngIf="eventForm.controls['name'].errors.required">Name is required</div>
            </div>

            <label>Event Location</label>
            <input type="text" [(ngModel)]="eventData.location" name="location" placeholder="Event Location" required>
            <div *ngIf="eventForm.controls['location'].invalid && (eventForm.controls['location'].dirty || eventForm.controls['location'].touched)" class="error-message">
                <div *ngIf="eventForm.controls['location'].errors.required">Location is required</div>
            </div>

            <div class="date-time-container">
                <div>
                    <label>Start Date</label><br>
                <input type="datetime-local" [(ngModel)]="eventData.startDate" name="startDate" id="startDate" required>
                <div *ngIf="eventForm.controls['startDate'].invalid && (eventForm.controls['startDate'].dirty || eventForm.controls['startDate'].touched)" class="error-message">
                    <div *ngIf="eventForm.controls['startDate'].errors.required">Start Date is required</div>
                </div>
                </div>&ensp;
               <div>
                <label>End Date</label><br>
                <input type="datetime-local" [(ngModel)]="eventData.endDate" name="endDate" id="endDate" required>
                <div *ngIf="eventForm.controls['endDate'].invalid && (eventForm.controls['endDate'].dirty || eventForm.controls['endDate'].touched)" class="error-message">
                    <div *ngIf="eventForm.controls['endDate'].errors.required">End Date is required</div>
                </div>
               </div>
            </div>

        
            <label>Attendees</label>
            <input type="number" [(ngModel)]="eventData.maxCount" name="maxCount" placeholder="Max Attendees" required>
            <div *ngIf="eventForm.controls['maxCount'].invalid && (eventForm.controls['maxCount'].dirty || eventForm.controls['maxCount'].touched)" class="error-message">
                <div *ngIf="eventForm.controls['maxCount'].errors.required">Max Attendees is required</div>
            </div>

        </div>

        <div class="right-column">
    

            <label>Event Category</label>
            <select [(ngModel)]="eventData.category" name="category" title="Event Category" required>
                <option *ngFor="let key of enumeratorKeys" [ngValue]="key">{{ key }}</option>
            </select>

            <div>
                <label style="margin-top: 5px;">Choose Event Type</label><br>
                <label style="margin-top: 12px;">
                  <input type="radio" [(ngModel)]="eventData.isPublic" [value]="true" name="isPublic" required>
                  Public
                </label>
                <label style="margin-top:12px; margin-left: 100px;"> 
                  <input type="radio" [(ngModel)]="eventData.isPublic" [value]="false" name="isPublic">
                  Private
                </label>
            </div>

            <label>Budget</label>
            <select [(ngModel)]="eventData.budgetId" name="budgetId" required>
                <option *ngFor="let option of budgetOptions" [ngValue]="option.id">{{ option.amount }}</option>
            </select>

            <label>Event Image</label>
        <input type="file" (change)="onFileSelected($event)" name="eventImgFile" accept="image/png, image/jpeg">


            <label>Event Description</label>
            <textarea type="text" [(ngModel)]="eventData.description" name="description" placeholder="Event Description" required></textarea>
            <div *ngIf="eventForm.controls['description'].invalid && (eventForm.controls['description'].dirty || eventForm.controls['description'].touched)" class="error-message">
                <div *ngIf="eventForm.controls['description'].errors.required">Description is required</div>
            </div>
        </div>

        <button type="submit" [disabled]="!eventForm.form.valid" class="submit-button">Create</button>
    </form>
</div>