<div class="container create-event">
    <h2>
        <img src="../../../assets/img/beautiful-meticulously-designed-event-planning-icon-event-planning-icon-120778365-transformed.webp" alt="">
        Create Event
    </h2>
    <form (ngSubmit)="createEvent()" #eventForm="ngForm" class="form-container">
        <div class="form-inner-container row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Left side form fields -->
                        <div class="form-group">
                            <label>{{ "User Name" | localize }}</label>
                            <input type="text" [value]="username" name="username" class="form-control" placeholder="{{ 'Username' | localize }}" readonly>
                            <input type="hidden" [value]="eventData.userId" name="userId">
                        </div>
                        <div class="form-group">
                            <label>{{ "Event Name" | localize }}</label>
                            <input type="text" [(ngModel)]="eventData.name" name="name" class="form-control" placeholder="{{ 'Event Name' | localize }}"  required pattern="^[a-zA-Z0-9 ,_\-@#]+$">
                            <div *ngIf="eventForm.controls['name'].invalid && (eventForm.controls['name'].dirty || eventForm.controls['name'].touched)" class="error-message">
                                <div *ngIf="eventForm.controls['name'].errors.required">{{ "Name is required" | localize }}</div>
                                <div *ngIf="eventForm.controls['name'].errors.pattern">{{ "Name must be alphanumeric" | localize }}</div>
                            </div>
                        </div>
                       
                        
                        <div class="form-group">
                            <label>{{ "Event Location" | localize }}</label>
                        </div>
                        <!-- Map container -->
                        <div id="map" style="height: 400px; margin-bottom: 20px;"></div>
                        <input type="text" [(ngModel)]="eventData.location" name="location" class="form-control" placeholder="{{ 'Event Location' | localize }}">
                       
                   
                    </div>
                    <div class="col-md-6" >
                        <div class="form-group">
                            <div class="form-group date-container">
                                <div>
                                    <label>{{ "Start Date" | localize }}</label>
                                    <input type="datetime-local" [(ngModel)]="eventData.startDate" name="startDate" class="form-control"placeholder="{{ 'Start Date' | localize }}"  [min]="today" (change)="validateDates()" required>
                                    <div *ngIf="eventForm.controls['startDate'].invalid && (eventForm.controls['startDate'].dirty || eventForm.controls['startDate'].touched)" class="error-message">
                                        <div *ngIf="eventForm.controls['startDate'].errors.required">{{ "Start Date is required" | localize }}</div>
                                    </div>
                                </div>
                                <div>
                                    <label>{{ "End Date" | localize }}</label>
                                    <input type="datetime-local" [(ngModel)]="eventData.endDate" name="endDate" class="form-control" placeholder="{{ 'End Date' | localize }}"  [min]="today" (change)="validateDates()" required>
                                    <div *ngIf="eventForm.controls['endDate'].invalid && (eventForm.controls['endDate'].dirty || eventForm.controls['endDate'].touched)" class="error-message">
                                        <div *ngIf="eventForm.controls['endDate'].errors.required">{{ "End Date is required" | localize }}</div>
                                    </div>
                                </div>
                            </div>
                            <label>{{ "Attendees" | localize }}</label>
                            <input type="number" [(ngModel)]="eventData.maxCount" name="maxCount" class="form-control" placeholder="{{ 'Max Attendees' | localize }}" required min="1">
                            <div *ngIf="eventForm.controls['maxCount'].invalid && (eventForm.controls['maxCount'].dirty || eventForm.controls['maxCount'].touched)" class="error-message">
                                <div *ngIf="eventForm.controls['maxCount'].errors.required">{{ "Max Attendees is required" | localize }}</div>
                                <div *ngIf="eventForm.controls['maxCount'].value < 1">{{ "Max Attendees must be at least 1" | localize }}</div>
                            </div>                            
                        </div>
                        <div class="form-group">
                            <label for="eventType">Event Type</label><br>
                            <input type="radio" id="free" name="eventType" [(ngModel)]="eventData.type" [value]="1" (change)="onEventTypeChange()">
                            <label class="labelispaid" for="free">Free</label>
                            <input type="radio" id="paid" name="eventType" [(ngModel)]="eventData.type" [value]="0" (change)="onEventTypeChange()">
                            <label class="labelispaid" for="paid">Paid</label>
                            
                            
                        </div>
                
                        <!-- Ticket Price Field (Conditionally Shown) -->
                        <div class="form-group" *ngIf="eventData.type === 0">
                            <label for="ticketPrice">Ticket Price</label>
                            <input type="number" id="ticketPrice" name="ticketPrice" [(ngModel)]="eventData.ticketPrice" class="form-control">
                        </div>
                        <!-- Right side form fields -->
                        <div class="form-group">
                            <label>{{ "Event Category" | localize }}</label>
                            <select [(ngModel)]="eventData.category" name="category" class="form-control" title="{{ 'Event Category' | localize }}" required>
                                <option *ngFor="let key of enumeratorKeys" [ngValue]="key">{{ key }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>{{ "Choose Event Type" | localize }}</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" [(ngModel)]="eventData.isPublic" [value]="true" name="isPublic" class="form-check-input" [disabled]="eventData.type === 0"  (change)="onEventpublicChange()">
                                    {{ "Public" | localize }}
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="radio" [(ngModel)]="eventData.isPublic" [value]="false" name="isPublic" class="form-check-input" [disabled]="eventData.type === 0" (change)="onEventpublicChange()">
                                    {{ "Private" | localize }}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ "Event Image" | localize }}</label>
                            <input type="file" (change)="onFileSelected($event)" placeholder="{{ 'Event Image' | localize }}"  name="eventImgFile" class="form-control-file" accept="image/png, image/jpeg">
                        </div>
                        <div class="form-group">
                            <label>{{ "Event Description" | localize }}</label>
                            <textarea 
                              [(ngModel)]="eventData.description" 
                              name="description" 
                              class="form-control" 
                              placeholder="{{ 'Event Description' | localize }}" 
                              required 
                              pattern="^[a-zA-Z0-9 ,_\-@#'!.]+$">
                            </textarea>
                            <div *ngIf="eventForm.controls['description'].invalid && (eventForm.controls['description'].dirty || eventForm.controls['description'].touched)" class="error-message">
                              <div *ngIf="eventForm.controls['description'].errors.required">{{ "Description is required" | localize }}</div>
                              <div *ngIf="eventForm.controls['description'].errors.pattern">{{ "Description must contain only letters, numbers, spaces, and the following special characters: , _ - @ # ' ! ." | localize }}</div>
                            </div>
                          </div>
                          
                        
                        <button type="submit" [disabled]="!eventForm.form.valid" class="submit-button">{{ "Create" | localize }}</button>
                    </div>
                </div>
               
            </div>
            <div class="col-lg-4 col-md-12 image-container">
                <img src="../../../assets/img/Work anniversary-pana.svg"  style="margin-left:15vw; margin-top:10vw;" alt="Event Image" class="img-fluid larger-image">
            </div>
        </div>
    </form>
</div>