<p>All Guests</p>
<div class="d-flex justify-content-evenly inventoryStatusCards">
    <div class="card mt-4 text-center" id="soonExpireMedicine">
      <div class="card-body d-flex justify-content-evenly">
        <img src="/images/coming-soon.png" width="40px" alt="..." />
        <p class="card-text"><b>Soon-to-Expire : </b></p>
      </div>
    </div>
    <!-- card1 -->

    <div class="card mt-4 text-center" id="expireMedicine">
      <div class="card-body d-flex justify-content-evenly">
        <img
          src="/images/Expire-medicine.png"
          width="40px"
          alt="..."
        />
        <p class="card-text"><b>Expire Medicines: </b></p>
      </div>
    </div>
    <!-- card2 -->

    <div class="card mt-4 text-center" id="soonOutOfStock">
      <div class="card-body d-flex justify-content-evenly">
        <img src="/images/hourglass.png" width="40px" alt="" />
        <p class="card-text"><b>Soon-Out Of Stock: </b></p>
      </div>
    </div>
    <!-- card3 -->

    <div class="card mt-4 text-center" id="outOfStock">
      <div class="card-body d-flex justify-content-evenly">
        <img src="/images/export.png" width="40px" alt="" />
        <p class="card-text"><b>Out Of Stock: </b></p>
      </div>
    </div>
    <!-- card4 -->
  </div>
  <!-- end of cards -->
