
<div class="events m-2 p-2 container">
  <div class="card-container">
    <div *ngFor="let event of events" class="card" [ngStyle]="{'background-image': 'url(' + (event.result.eventImg ? event.result.eventImg : '../../assets/img/Event.jpg') + ')'}">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <i class="fa-solid fa-ellipsis"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <button class="dropdown-item" id="chat" (click)="navigateToComponent(event.userId)" *ngIf="isLoggedIn"
              title="{{ 'Chat' | localize }}">
              <i class="fa-regular fa-comment-dots"></i> {{ 'Chat' | localize }}
            </button>
          </li>
          <li>
            <button class="dropdown-item" id="delete" (click)="confirmDeleteSavedEvent(event.favoriteEventId)" title="{{ 'Delete' | localize }}">
              <i class="fas fa-trash"></i> {{ 'Delete' | localize }}
            </button>
          </li>
        </ul>
      </div>
      <div class="date">
        <div class="day">{{ event.result.startDate | date:'dd' }}</div>
        <div class="month">{{ event.result.startDate | date:'MMM' }}</div>
      </div>
      <div class="card-content">
        <h3>{{ event.result.name }}</h3>
        <p>{{ event.result.location }}</p>
        <div class="d-flex align-items-center justify-content-center">
          <button class="btn btn-primary" (click)="askForInvitation(event)">{{ 'Ask for invitation' | localize }}</button>
          <button id="details" (click)="details(event.result)">{{ 'View' | localize }}</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="events.length === 0" class="noPublic-events text-center">
    <img src="../../../assets/img/People search.gif" alt="{{ 'No events found' | localize }}">
    <h4>{{ 'No events saved yet. Explore and choose your favorites to save!' | localize }}<span>❤😢</span></h4>
  </div>
</div>
