<div class="header-container">
  <div class="blur" [ngStyle]="{'background-image': 'url(' + (event.eventImg ? event.eventImg : '../../assets/img/Event.jpg') + ')'}"></div>
  <img class="card-media-object" [src]="event.eventImg ? event.eventImg : ('../../assets/img/Event.jpg')" alt="Event Image">
</div>

<div class="event-info">
  <!-- fa fa-share -->
  <div class="ticket-sales-info">
    <div><span>Ticket sales end soon</span></div>
    <div class="share-icon"> <i class="fa fa-share-alt" (click)="openShareAlert()"></i></div>
  </div>
  <div class="date-category">
    <div class="date">
      <div class="start-date"> {{ event.startDate | date: 'EEE, MMM dd, hh:mm a' }}</div>
      <div class="end-date">{{"-" |localize}} {{ event.endDate | date: 'EEE, MMM dd, hh:mm a' }}</div>
    </div>
    <div class="category">
      <p class="badge badge-warning">{{ event.category }}</p>
    </div>
  </div>
 
  <div class="event-name">
    <h1>{{ event.name }}</h1>
  </div>
  <div class="event-desc">
    <p>{{ event.description }}</p>
  </div>
  <div class="user-data">
    <div class="user-image">
      <img [src]="getUserImage()" alt="User Image">
    </div>
    <div class="user-details">
      <div class="user-info">
        <div class="user-name">
          <span>By </span><h6>{{ user?.name }}</h6>
        </div>
        <div class="guest-number">
          <div><h6>{{ event.maxCount }} </h6> <span>attendees hosted 📈</span></div>
        </div>
      </div>
      <div class="connect-button">
        <button class="email" (click)="sendEmail(user?.emailAddress)">Connect</button>
      </div>
    </div>
  </div>
  <div class="location-info">
    <div class="location-header">
      <h1>Location</h1>
    </div>
    <div class="location-data"><i class="fas fa-map-marker-alt location-icon"></i>
      
      {{ event.location }}
    </div>
  </div>
</div>
